/* $Id$ */

table.listing td:first-child {
	padding-right: 5px;
}

table.listing td:first-child a {
	padding-right: 15px;
	padding-left: 25px;
	display: block;
	line-height: 26px;
	min-width: 120px;
	text-align: right;
}

table.listing td:first-child a:hover code,
table.listing td:first-child a:hover {
	text-decoration: none;
	background-color: #eee;
}

table.listing {
	border: none;
}

table.listing td.meta {
	padding-right: 1em;
	text-align: right;
}

