/* $Id$ */

div.cal-index {
	float: right;
	position: relative;
	margin-right: 60px;
	margin-bottom: 40px;
}

div.cal-index a:hover {
	text-decoration: none;
	background-color: #f7f7f7;
}

div.cal-index hr {
	margin: 20px 0;
}

div.year-view {
	margin-right: 340px;
	margin-left: 40px;
	margin-bottom: 40px;
}

div.year-view table.calendar {
	float: left;
	margin: 0 2em 0 0;
	min-height: 220px;	/* enough for 31 days */
	display: block;
}

table.calendar {
	width: 260px;
}

ol.years {
	margin: 0;
	padding: 0;
}

ol.years li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ol.years a {
	display: block;
	padding: 0.5ex 1em;
}

ol.years li.current-year {
	background-color: #f4f4f4;
}

