/* $Id$ */

svg.menu {
	height: 162px;
	position: relative;
	top: -17.25px;
	left: 5px;
	margin-right: 0;
	width: 720px;
}

nav.menu svg.dot path, nav.menu svg.dot polygon, nav.menu svg.dot ellipse {
	stroke: #888;
}

nav.menu svg.dot polygon {
	fill: #999;
}

nav.menu svg.dot path {
	fill: none ! important;
}

nav.menu svg.dot a {
	text-decoration: none;
	cursor: pointer;
}

nav.menu svg.dot a text {
	font-family: verdana, sans-serif;
	fill: #888;
}

nav.menu svg.dot g.help path {
	stroke: #555;
}

nav.menu svg.dot g.help text {
	fill: #555;
	font-family: inherit;
}

/* this gives the mouse something to hover over */
nav.menu svg.dot ellipse {
	fill: white;
	fill-opacity: 0.0;
}

/* a for node, g for edge. .hoveredge is for the <menu> */
/* XXX: not sure if i like the effect .hoveredge has for <menu> */
nav.menu svg.dot a.hoveredge path,
nav.menu svg.dot a.hoveredge polygon,
nav.menu svg.dot a:hover ellipse, nav.menu svg.dot a:hover path,
nav.menu svg.dot a.hover ellipse, nav.menu svg.dot g.hover path,
nav.menu svg.dot a:hover polygon,
nav.menu svg.dot g.hover polygon {
	stroke: #1b5;
	stroke-width: 2px;
	fill: #1b5;
}

nav.menu svg.dot a:visited:hover text,
nav.menu svg.dot a:link:hover text {
	fill: #1b5;
}

nav.menu svg.dot a.hover ellipse,
nav.menu svg.dot a:hover ellipse {
	fill-opacity: 0.3;
}

nav.menu {
	background-color: #222;
	color: #eee;
	margin: 0;
	padding: 20px 0;
	height: 142px;
}

nav.menu.grid-container {
	width: 1000px;
}

nav.menu menu {
	list-style-type: none;
	padding-left: 30px;
	margin: -20px;
	display: block;
}

nav.menu menu li {
	margin-bottom: 0;
}

nav.menu menu li:first-child a {
	border-top: none;
}

nav.menu menu li a {
	display: block;
	border-top: dotted 1px #444;
	padding: 10px;
	height: 40px;
	width: 250px;
}

nav.menu menu li a:hover {
	background-color: #333;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

nav.menu menu li a.hover {
	background-color: #333;
	color: #eee;
	text-decoration: none;
}

nav.menu menu li a span.desc {
	color: #888;
	display: block;
}

nav.menu menu li a:hover span.desc {
	color: #aaa;
}

nav.menu menu li a.hover span.desc {
	color: #999;
}

