/* $Id$ */

table.download {
	width: 100%;
	padding-left: 2em;
}

table.download th,
table.download td {
	padding: 0.5ex 1ex;
}

table.download th {
	font-weight: bold;
	vertical-align: top;
}

table.download tr th:first-child {
	padding: 0 1em;
	min-width: 10em;
}

table.download tr.project td,
table.download tr.project th {
	border-top: dotted 1px #ccc;
}

table.download th h3 {
	margin: 0;
	margin-top: 2em;
	font-size: 11pt;
}

table.download th:last-child {
	color: #bbb;
}

table.download td:last-child tt {
	color: #ccc;
}

table.download span.obs {
	color: #aaa;
	font-weight: normal;
	float: right;
}

table.download tr.dl:hover {
	background-color: #f4f4f4;
	cursor: pointer;
}

table.download tr.dl:hover a {
	text-decoration: underline;
}

