/* $Id$ */

table.calendar tr th.month {
	text-align: center;
}

table.calendar td,
table.calendar th {
	text-align: right;
	min-width: @grid-baseline;
}

table.calendar td.today {
	background-color: #eee;
}

table.calendar tr:first-child th {
	text-align: center;
}

table.calendar tr:first-child th:first-child,
table.calendar tr:first-child th:last-child {
	text-align: right;
}

