/* $Id$ */

/* TODO: remove all this spacing and do it again, esp. using the grid and lesscss */

section.entry ul.dotless li {
	list-style-type: none;
	margin-bottom: 1em;
}

section.entry p, section.entry pre {
	margin-left: 0;
	margin-right: 0;
}

aside.comment-details hr {
	margin: 0;
}

aside.comment-details ol {
	margin-bottom: 20px;
	margin-top: 0px;
}

aside.comment-details ol li {
	padding-left: 100px;
	padding-top: 5px;
	margin-bottom: 20px;
	border-top: dotted 1px #ddd;
	list-style-type: none;
}

aside.comment-details ol li:first-child {
	border-top: none;
}

aside.comment-details ol li span.author,
aside#comment-preview span.author {
	display: block;
	margin-bottom: 5px;
}

aside.comment-details ol li span.date,
aside#comment-preview span.date {
	margin-bottom: 20px;
}

section.entry h2 {
	padding-left: 120px;	/* because we have nothing to put in the left column */
}

