
/* XXX: this is all hacks for the holding page */

html, body {
	background-color: inherit;
	margin: auto;
}

body {
	margin-left: 0;
	border: none;
	box-shadow: none;
}

html, body {
}

h1#banner {
	width: 100% !important;
	margin-left: 0 !important;
}

body {
	padding: 2em;
}

dd,
dt {
	margin: 0 !important;
	padding-bottom: 0.25em;
}

html.manindex dt + dt + dd {
	padding-top: 1.75em; /* XXX: hack */
}

html.manindex dt {
	width: 10em !important;
}

html.docindex dt {
	margin-top: 2em;
	font-weight: bold;
}

html.docindex ul {
	list-style-type: none;
	margin-left: 2.5em;
}

