/* $Id$ */

@import "theme.styl";

body { 
	color: #aaa;
	background-color: #555;
}

header,
footer {
	background-color: #333;
}

nav.menu {
	background-color: #333;
}

section.page {
	color: #333;
	background-color: #fff;
}

a:visited, a:link {
	color: #1b5;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

table.calendar th {
	color: #666;
}

table.calendar td {
	color: #ddd;
}

table.calendar td.today {
	background-color: #eee;
	color: #ccc;
}

nav.sidebar ol.years li a:hover,
nav.sidebar table.calendar td a:hover,
nav.sidebar table.calendar th a:hover {
	background-color: #eee;
	text-decoration: none;
}

hr {
	background-color: #ddd;
}

