/* $Id: debug.styl 316 2012-02-22 18:10:48Z kate $ */

@import "grid.styl";
@import "overlay.styl";

@import "theme.styl";

html.debug ol.overlay#cols {
	display: block;
}

html.debug ol.overlay#rows {
	display: block;
}

