/* $Id$ */

font-face("Crimson", 400, normal, '/fonts/Crimson-Roman',    '#Crimson-Roman');
font-face("Crimson", 400, italic, '/fonts/Crimson-Italic',   '#Crimson-Italic');
font-face("Crimson", 600, normal, '/fonts/Crimson-Semibold', '#Crimson-Semibold');

font-face("DejaVuSansMono", 400, normal, '/fonts/DejaVuSansMono-Regular', '#DejaVuSansMono-Regular');

/* faces, weights and styles */
body {
	font-family: Crimson, serif;

	// Crimson doesn't have the glyphs for BibTeX
	abbr.tex {
		font-family: georgia, serif;
		font-size: 0.9em; // optical correction
	}

	h1, h2, h3, h4 {
		font-weight: 400;
	}

	th {
		font-weight: bold;
	}

	em {
		font-weight: bold;
		font-style:  normal;
	}

	cite {
		font-style:  inherit;
	}

	code, tt, samp, pre {
		font-family: DejaVuSansMono, mono;
		font-size: 14px; // optical correction
	}

	pre {
		font-size: 13px; // smaller for tidyness
	}

	code.texmath .katex {
		font-size: inherit;

		.mord {
			font-size: 0.95em; // optical correction
		}

		.mathit {
			font-family: Crimson, KaTeX_Math;
			font-style:  normal;
			font-size: 1em;
		}
	}
}

/* sizes */
body {
	font-size:   17px;
	line-height: $baseline;
//	line-height: 1.4em;
//line-height: 1.3em;

	word-spacing: -1px; // !?

	h1 {
		font-size: 1.8em;
	}

	th {
		font-size: 1em;
	}

	article.entry h1 time[pubdate] {
		font-size: 0.75em; /* x-height */

		span.ordinal {
			font-size: 0.8em;
		}
	}
}

/* alignment */
body {
	& {
		text-align: justify;
	}
}

/* features */
body {
	text-rendering: optimizeLegibility;

	pre {
		overflow-x: auto;
	}

	font-feature-settings: "zero" 0;

header h1:after {
	font-feature-settings: "aalt" 1; // fancy ampersand
}

	ol.archive li time {
		font-feature-settings: "tnum" 1; /* Quattrocento doesn't have tnum */
	}

	// XXX: rename to span.sc
	abbr { // XXX
//			font-feature-settings: "c2sc" 1;
	}

	.katex {
		font-feature-settings: "onum" 0;
	}

}

