/* $Id$ */

@import "theme.styl";

header h1 {
	font-size: 2em;
}

header,
footer {
	background-color: #555;
	color: #aaa;
}

header {
	color: #eee;
	padding-top:  $baseline;
	padding-left: $baseline;

	h1:after {
		content: " (&\0000a0friends)";
		font-size: 0.5em;
		color: #aaa;
	}
}

