/* $Id$ */

nav#monthindex {
	display: block;

	ol.pages {
		float: left;
	}

	& > a {
		float: right;
	}
}

nav.sidebar {
	top: ($baseline * 7);

	display: none;
}

section.archive-year {
	h1 {
		display: none;
	}
}

ol.archive {
	// XXX: hackish; would prefer to render out different markup instead
	li > time {
		display: none;
	}

	li a time {
		display: inline-block;
		float: left;
		width: 6em;
	}
}

for $l in 0 .. length($grid.ncols) - 1 {
	$q = grid-breakpoint($grid, $l, min);
	@media $q {
		header, main, footer {
			grid-container($grid, $l);
		}

		header > *,
		footer > * {
			grid-column($grid, $l, $grid.ncols[$l] - 0, 0);
		}

		main > * {
			grid-column($grid, $l, $grid.ncols[$l] - 1, 1);

			ul.tags {
				// TODO: exdent
			}
		}
	}
}

