/* $Id$ */

nav#monthindex {
	display: block;

	ol.pages {
		float: left;
	}

	> a {
		float: right;
	}
}

nav.sidebar {
	top: ($baseline * 7);

	display: none;
}

for $l in 0 .. length($ncols) - 1 {
	$q = grid-breakpoint($grid, $l);
	@media $q {
		header, section.page, footer {
			grid-container($grid, $l);
		}

		header > *,
		footer > * {
			grid-column($grid, $l, $ncols[$l] - 0, 0);
		}

		section.page > * {
			grid-column($grid, $l, $ncols[$l] - 1, 1);

			ul.tags {
				// TODO: exdent
			}
		}
	}
}

