/* $Id$ */

@import "theme.styl";

@import "misc.styl";

@media only screen and (min-width: $full-min) {

	header {
		margin-top:    ($baseline * 3.0);
		margin-bottom: ($baseline * 1.0);
		background-color: transparent ! important;
	}

	footer {
		padding-top:    ($baseline * 1.0);
		padding-bottom: ($baseline * 4.0);
		background-color: transparent ! important;
	}

	main {
		shadow(0px, 0px, 15px, 5px, #444);
	}

}

