/* $Id$ */

@import "theme.styl";

@import "header.styl";
@import "menu.styl";
@import "tags.styl";
@import "colour.styl";

@import "baseline.styl";
@import "blog.styl";
@import "calendar.styl";
@import "grid.styl";
@import "pages.styl";
@import "faq.styl";
@import "bibliography.styl";
@import "glossary.styl";
@import "tablesort.styl";
@import "lists.styl";

@import "layout.styl";
@import "screen.styl";

@import "fonts.styl";

@import "download.styl";

$pages-inact-border     = #ddd;
$pages-inact-background = transparent;
$pages-inact-color      = #ddd;

$pages-hover-border     = $pages-hover-background - 10%;
$pages-hover-background = #eee;
$pages-hover-color      = #000;

body {
	margin:  0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

abbr[title],
acronym[title] {
        border-bottom: dotted 1px #888;
}

article.entry h1 time[pubdate] {
	color: #ccc;
	padding-left: 0.5em;
	margin-left:  0.5em;
	border-left:  solid 1px #ddd;
}

nav.sidebar {
	table.calendar,
	ol.years {
		margin-left: 1em;
		width: 90%;
	}

	table.calendar {
		a {
			display: block;
			padding:  2ex  3ex;
			margin:  -2ex -3ex;
		}

		td,
		th {
			padding:  2ex  3ex;
		}
	}

	ol.years li {
		padding:  2ex  1em;

		a {
			display: block;
			padding:  2ex  1em;
			margin:  -2ex -1em;
		}
	}
}

article.entry ul.tags {
	margin: 0;
	position: relative;

	li {
		display: inline;
		margin: 0;

		a {
			margin: 0;
			margin-right: 1ex;
		}
	}
}

