/* $Id$ */

$www-css  = "http://www.libfsm.org/css";

$baseline = 20px;
$tabsize  = 4;

$grid-colour   = orange;

$grid = {
	ncols:   ( 6      8      )
	layouts: ( fluid  fixed  )
	aligns:  ( center center )

	colwidth: $baseline * 6
	gutter:   $baseline / 2

	fixed-margin: $baseline / 2
	fluid-margin: 0
}

$list-gutter = $grid.gutter * 3;
$faq-gutter  = $list-gutter;
$cal-cell    = 2em;

$dot-colour = #1b5;
$dot-marker = #f00;
$dot-stroke = #eee;

