/* $Id$ */

$baseline = 19px;

$grid = {
	ncols:    ( 6      8      )
	layouts:  ( fluid  fixed  )
	aligns:   ( center center )

	colwidth: $baseline * 6
	gutter:   $baseline / 2

	fixed-margin: $baseline / 2
	fluid-margin: 0

	colour: orange
}

$dot = {
	colour: #1b5
	marker: #f00
	stroke: #eee
}

