/* $Id$ */

@import url('/libfsm/chrome/common/css/trac.css');

body {
	background-color: white;
	color: #444;
	font-family: verdana;
	margin: 30px 50px 20px 40px;
	text-align: left;
}

body, td {
	line-height: 1.5em;
	font-size: inherit;
}

a, a:link, a:visited, a code {
	color: #26478A ! important;
	text-decoration: none;
	border-bottom: none;
}

a:hover, a:hover code {
	color: #000 ! important;
	text-decoration: underline;
	background-color: inherit ! important;
}

pre, code, tt {
	color: #000;
	font-family: andale mono, bitstream vera sans mono, courier;
}

pre {
	border: solid 1px #eee ! important;
	padding: 1ex ! important;
	margin: 1em ! important;
	overflow-x: auto;
}

hr {
	border: none;
	height: 1px;
	background-color: #eee;
	clear: both;
}

hr.footer {
	margin-top: 4em;
}

h1#title {
	letter-spacing: -1px;
	color: white;
	background-color: #26478A;
	padding: 4ex 50px 0 50px;
	margin: -30px -50px 0 -50px;
}

ul#contents {
	padding: 1em 50px 10px 50px;
	margin: 0 -50px 20px -50px;
	background-color: #26478A;
	display: block;
}

ul#contents li.current a {
	color: white ! important;
}

ul#contents li {
	display: inline;
}

ul#contents li {
	padding-right: 1ex;
}

ul#contents li:last-child {
	border-right: none;
}

ul#contents li a {
	color: #aaa ! important;
}

ul#contents li a:hover {
	color: white ! important;
}

h1, h2, h3 {
	font-weight: normal;
	font-family: trebuchet ms, sans serif;
	font-size: 18pt;
}

h2 {
	color: #26478A;
	font-size: 16pt;
	margin: 40px 0 20px 0;
	letter-spacing: -1px;
}

h3 {
	color: #888;
	font-size: 12pt;
	margin: 30px 0 20px 0;
}

table {
	margin: 1em;
	clear: none ! important;
}

table td {
	vertical-align: top;
}

ul {
	padding-left: 2em;
}

acronym {
	font-variant: small-caps;
	text-transform: lowercase;
}

img {
	border: solid 1px;
}

ul, ol {
	margin: 0;
	padding: 0 30px;
}

li {
	margin: 1ex auto;
}

