/* $Id$ */

body {
	background-color: white;
	font-family: verdana;
	line-height: 1.5em;
	margin: 3em 3em 5em 2em;
	text-align: justify;
}

a, a:link, a:visited {
	color: #00f;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

pre, code {
	font-family: andale mono, bitstream vera sans mono, courier;
}

pre {
	border: solid 1px #eee;
	padding: 1ex;
	margin: 1em;
	overflow-x: auto;
}

hr {
	border: none;
	height: 1px;
	background-color: #eee;
	clear: both;
}

hr.footer {
	margin-top: 4em;
}

h1 {
	font-family: trebuchet ms, sans serif;
}

h1 {
	font-weight: normal;
	margin: 2ex 0 3ex 0;
}

h2 {
	font-weight: normal;
	font-size: inherit;
	font-weight: bold;
}

table {
	margin: 1em;
}

table td {
	vertical-align: top;
}

ul {
	padding-left: 2em;
}

acronym {
	font-variant: small-caps;
	text-transform: lowercase;
}

img {
	border: solid 1px;
}

