/* $Id$ */

table.listing td:first-child {
	padding-right: 2em;
	text-align: right;
}

table.listing {
	border: none;
}

table.listing td:first-child {
	width: 8em;
}

table.listing td.meta {
	padding-right: 1em;
	text-align: right;
}

