/* $Id$ */

body {
	background-color: white;
	font-family: bitstream vera sans, verdana;
	line-height: 150%;
	margin: 3em 5em 5em 2em;
}

pre, code {
	font-family: bitstream vera sans mono, courier;
}

pre {
	border: solid 1px #eee;
	padding: 1ex;
	margin: 1em;
}

hr {
	border: none;
	height: 1px;
	background-color: #eee;
	margin-top: 4em;
	clear: both;
}

ul li {
	list-style-type: none;
}

h1 {
	font-weight: normal;
	margin: 2ex 0 3ex 0;
}

h2 {
	font-weight: normal;
}

table {
	margin: 1em;
}

