/* $Id$ */

body {
	background-color: white;
	font-family: bitstream vera sans, verdana;
}

pre, code {
	font-family: bitstream vera sans mono, courier;
}

pre {
	border: solid 1px #eee;
	padding: 1ex;
	margin: 1em;
}

hr {
	border: none;
	height: 1px;
	background-color: #eee;
}

