/* $Id: elide.css 571 2013-07-03 22:32:11Z kate $ */

body {
	color: #222;
}

a code, a, a:link, a:visited {
	color: darken(saturate($kmkf.fg, 20%), 20%);
	text-decoration: underline;
	&:hover {
		color: #000;
	}
}

header {
	border-bottom: solid .5ex $kmkf.fg;
}

aside.meta {
	background-color: desaturate(darken($kmkf.fg, 20%), 20%);
	background-color: $kmkf.bg;

	a code, a, a:link, a:visited {
		color: #fff;

		&:hover {
			background-color: darken(desaturate($kmkf.fg, 20%), 10%); // optical correction
		}
	}
}

pre, code {
	color: #888;
}

pre.synopsis {
/*
	$b = 0.5ex;
	$p = 0.5ex;
	color: #777;
	background-color: #f7f7f7;
	padding: $p;
	margin-left: -($b + $p);
	border: solid $b #efefef;
	border-radius: $b;
*/
}

pre.synopsis i.replaceable {
	color: #000;
}

span.remark {
	color: #000;
}

::-moz-selection {
	background-color: lighten(desaturate($kmkf.fg, 60%), 70%);
}

::selection {
	background-color: lighten(desaturate($kmkf.fg, 60%), 70%);
}

