/* $Id: elide.css 571 2013-07-03 22:32:11Z kate $ */

body {
	color: #222;

	for $l in 0 .. length($grid.ncols) - 1 {
		$q = grid-breakpoint($grid, $l);
		@media $q {

			if (menustyle($l) == vertical) {
				background-color: #fff;
			} else {
				background-color: #222;

				main {
					background-color: #fff;

					shadow(0, 0, 20px, 0px, rgba(0,0,0,0.4));
					position: relative; // for z-index
					z-index: 2; // for shadow over nav
				}
			}

		}
	}
}

header {
	border-bottom: solid $kmkf.line $kmkf.fg;
	margin-top:     $kmkf.line;
	padding-bottom: $kmkf.line;
	margin-bottom: -($kmkf.line * 3); // baseline alignment
}

main {
	a code, a {
		color: darken(saturate($kmkf.fg, 20%), 20%);
		&:hover {
			color: $kmkf.bold;
		}
	}
}

nav {
	background-color: $kmkf.bg;

	for $l in 0 .. length($grid.ncols) - 1 {
		$q = grid-breakpoint($grid, $l);
		@media $q {

			if (menustyle($l) == vertical) {

				a {
					background-color: transparent;
					color: #ddd;

					&:after {
						color: #777;
					}

					&:before,
					&:hover:after {
						color: #fff;
					}
				}

				&.expanded a:hover {
					background-color: darken(desaturate($kmkf.fg, 20%), 20%); // optical correction
					color: #fff;
				}

				&.collapsed {
					$line = ceil($kmkf.line * 1.5);
					border-bottom: solid $line $kmkf.fg;
					margin-bottom: -($line); // baseline alignment
				}

				&.expanded {
					border-bottom: solid 0px $kmkf.bg;
					margin-bottom: 0px; // baseline alignment
				}

			} else {
				a {
					color: #ddd;
				}

				li.current a,
				a:hover {
					background-color: darken(desaturate($kmkf.fg, 20%), 20%); // optical correction
					color: #fff;
				}

			}

		}
	}
}

pre, code, var, samp {
	color: $kmkf.code;
}

pre.synopsis {
/*
	$b = 0.5ex;
	$p = 0.5ex;
	color: #777;
	background-color: #f7f7f7;
	padding: $p;
	margin-left: -($b + $p);
	border: solid $b #efefef;
	border-radius: $b;
*/
}

pre.synopsis samp.replaceable {
	color: $kmkf.bold;
}

span.remark {
	color: $kmkf.bold;
}

::-moz-selection {
	background-color: lighten(desaturate($kmkf.fg, 60%), 70%);
}

::selection {
	background-color: lighten(desaturate($kmkf.fg, 60%), 70%);
}

