/* $Id: elide.css 571 2013-07-03 22:32:11Z kate $ */


a code, a, a:link, a:visited {
	color: #e22;
	text-decoration: underline;
	&:hover {
		color: #000;
	}
}

pre, code {
	color: #888;
}

pre.synopsis {
/*
	$b = 0.5ex;
	$p = 0.5ex;
	color: #777;
	background-color: #f7f7f7;
	padding: $p;
	margin-left: -($b + $p);
	border: solid $b #efefef;
	border-radius: $b;
*/
}

pre.synopsis i.replaceable {
	color: #000;
}

span.remark {
	color: #000;
}

::-moz-selection {
	background-color: #ddd;
}

::selection {
	background-color: #ddd;
}

