/* $Id: debug.less 316 2012-02-22 18:10:48Z kate $ */

@import "theme.styl";

@import "misc.styl";
@import "grid.styl";
@import "overlay.styl";

html.debug {
	ol.overlay {
		&#cols {
			display: block;
		}

		&#rows {
			display: block;
		}
	}

	header {
		& > h1 {
			background-color: $grid.colour;
		}
	}

	section {
		background-color: $grid.colour;

		& > * {
			background-color: lighten($grid.colour, 20%);
		}

		& > h2 {
			background-color: darken($grid.colour, 20%);
		}
	}
}

