
font-face('Source Sans Pro', 400, normal, '/fonts/SourceSansPro-Regular',  '#SourceSansPro-Regular');
//font-face('Source Sans Pro', 400, italic, '/fonts/SourceSansPro-Italic',   '#SourceSansPro-Italic');
font-face('Source Sans Pro', 600, normal, '/fonts/SourceSansPro-SemiBold', '#SourceSansPro-SemiBold');

font-face('Source Code Pro', 400, normal, '/fonts/SourceCodePro-Regular', '#SourceCodePro-Regular');


/* faces, weights and styles */
body {
	font-synthesis: none;
	font-family: Source Sans Pro, DejaVu Sans, Verdana, sans;
	font-weight: 400;

	code, tt, pre, samp.replaceable, var {
		font-family: Source Code Pro, DejaVu Sans Mono, Ubuntu mono, Lucidia Console, monospace;
	}

	pre {
		letter-spacing: -1px; /* forgive me */

		/* for visual consistency with links elsewhere on the page */
		span.remark a span.command {
			font-family: Source Sans Pro, DejaVu Sans, Verdana, sans;
			letter-spacing: 0px;
		}
	}

	h1, h2 {
		font-weight: inherit;
	}

	h2 {
		font-size: inherit;
		text-transform: uppercase;
	}

	em {
		font-weight: inherit;
		font-style:  normal;
	}

	var {
		font-style:  normal;
	}

	// too visually noisy
	dfn {
		font-weight: inherit;
		font-style:  normal;
	}

	address {
		font-style:  normal;

		em {
			font-family: inherit;
		}
	}

	// TODO: centralise?
	header#doctitle {
		h1 {
			font-weight: 600;

			span {
				font-weight: 400;
			}
		}

		h2 {
			text-transform: uppercase;
		}
	}
}

html.minidocbook section.options dl dt {
	font-weight: inherit;
}

/* sizes */
body {
	font-size:   $fontsize;
	line-height: $baseline;

	address {
		line-height: inherit;
	}

	code, tt, pre, samp.replaceable, var {
		font-size: (@font-size - 1);
		line-height: $baseline - 2px;
	}

	p > code, p > tt, p > samp, p > var {
		letter-spacing: -1px;
	}

	header {
		h1 {
			span {
				font-size: ($fontsize * 1.4);
			}

			font-size: ($fontsize * 1.2);
		}

		h2 {
			font-size: ($fontsize * 1.2);
		}
	}
}

/* alignment */
body {
	text-align: left;
}

/* features */
body {
	text-rendering: optimizeLegibility;

	font-feature-settings: "onum" 0; /* not for technical writing */
	font-feature-settings: "pnum" 1; /* nb. ignored for SourceCodePro */
	font-feature-settings: "kern" 1;
	font-feature-settings: "ss02" 0; /* double story 'a' */

	pre {
		overflow-x: auto;
	}

	span.units, span.sc, em.sc {
		font-weight: normal;
		font-style:  normal;
	}

	span.units, span.sc, em.sc, abbr {
		font-feature-settings: "c2sc" 0; /* too close to x-height */
	}

	h1 > abbr, h2 > abbr {
		font-feature-settings: "c2sc" 0;
	}

	abbr[title] {
		border-bottom: none;
	}

	section.archive-year time[pubdate],
	article.entry time[pubdate] {
		font-feature-settings: "lnum" 1;
		font-feature-settings: "tnum" 1;
	}

	ol.overlay#cols li:after {
		font-feature-settings: "onum" 0;
	}
}

samp.replaceable {
	&:before {
		content: "${";
	}

	&:after {
		content: "}";
	}
}

