/* $Id$ */

body {
	margin:  0;
	padding: 0;
	padding-bottom: ($baseline * 3);

	clearfix();
}

pre {
	overflow-y: auto;
}

// XXX: confusing
header,
html.man body header#bp-doctitle {
	padding: ($baseline * 2) 0;
	padding-top: $baseline;
	padding-bottom: ($baseline * 1.5);
	margin-bottom:  ($baseline * 2);
}

// XXX: rehouse
aside.meta {
	min-height: 100%; // XXX

	li {
		list-style-type: none;
		margin-bottom: 0;

		// TODO: share with bp
		a {
			text-decoration: none;
			display: block;

			padding: 0 $grid.gutter;
			line-height: ($baseline * 1.5);

			span.command[data-refclass]:before {
				content: "<";
			}

			span.command[data-refclass]:after {
				content: "." attr(data-refclass) ">";
			}
		}
	}
}

for $l in 0 .. length($grid.ncols) - 1 {
	$q = grid-breakpoint($grid, $l, min);
	@media $q {

		body, ol.overlay#cols {
			grid-container($grid, $l);
		}

		main {
			if (sidebar($l)) {
				border-top:  none;
				border-left: none;
			} else if (edge($l) == left) {
				border-top:  none;
				border-left: solid $edgesize $kmkf.bg;
			} else {
// XXX: use aside.meta as a drop-down menu instead. mark it up as <menu>!
				border-top:  solid $edgesize $kmkf.bg;
				border-left: none;
			}
		}

		if (sidebar($l)) {
			main {
				grid-column($grid, $l, $grid.ncols[$l] - sidebar($l), sidebar($l));
				float: right;
			}

			aside.meta {
				grid-column($grid, $l, sidebar($l));

				float: none;

				padding-left:  0;
				padding-right: 0;

				ul {
					margin-left: 0;
				}

				hr {
					display: none;
				}

				// special case for *(5mk) block
				hr + nav.submenu li:first-child {
					margin-bottom: ($baseline / 2);
				}

				position: absolute; // XXX: why?
				padding-top:    ($baseline * 2);
				padding-bottom: ($baseline * 1);
			}
		} else {
			main,
			aside.meta {
				grid-column($grid, $l, $grid.ncols[$l]);
				float: none;
			}
		}

		if (indent($l)) {
			section {
				margin-left: $indent;

				h2 {
					margin-left: -($indent);
				}
			}
		}
	}

}

