/* $Id$ */

body {
	margin:  0;
	padding: 0;
	padding-bottom: ($baseline * 3);

	clearfix();
}

pre {
	overflow-y: auto;
}

header {
	margin: ($baseline * 2) 0;
}

for $l in 0 .. length($grid.ncols) - 1 {
	$q = grid-breakpoint($grid, $l, min);
	@media $q {
		body, ol.overlay#cols {
/*
			if ($grid.layouts[$l] == fluid) {
				border-top:    solid $edgesize #d44;
				border-bottom: solid $edgesize #d44;
				border-left:  none;
				border-right: none;
			} else {
				border-top:    none;
				border-bottom: none;
				border-left:  solid $edgesize #d44;
				border-right: solid $edgesize transparent;
			}
*/
			grid-container($grid, $l);
		}

		if (sidebar($l)) {
			main {
				grid-column($grid, $l, $grid.ncols[$l] - sidebar($l), sidebar($l));
				float: right;
			}

			aside.meta {
				grid-column($grid, $l, sidebar($l));
				float: none;
background: url('/img/spanner.png');
background-repeat: no-repeat;
background-size: 60%;
background-position: center ($baseline * 2);

position: absolute; // XXX: why?
padding-top:    ($baseline * 9);
padding-bottom: ($baseline * 1);
border-right: solid $edgesize #d44;
			}
		} else {
			main,
			aside.meta {
				grid-column($grid, $l, $grid.ncols[$l]);
				float: none;
			}
		}

		if (indent($l)) {
			section {
				margin-left: $indent;

				h2 {
					margin-left: -($indent);
				}
			}
		}
	}

}

// XXX: rehouse
aside.meta {
min-height: 100%;

	ul {
		margin-left: 0;
	}

	li {
		list-style-type: none;
margin-bottom: 0;

		// TODO: share with bp
		a {
			text-decoration: none;
			display: block;
			padding: 1ex 1em;

			&:hover {
				color: #000;
				background-color: #eee;
			}

			span.command[data-refclass]:before {
				content: "<";
			}

			span.command[data-refclass]:after {
				content: "." attr(data-refclass) ">";
			}
		}
	}
}

