/* $Id$ */

html.man {
	aside.meta hr {
		clear: none;
	}

	header#bp-doctitle {
		h1, h2 {
			margin-top: 0;
			margin-bottom: 0;

			padding-top: 0;
			padding-bottom: 0;
			display: inline;
		}

		h1 {
			float: left;
			span {
				padding-left: .5ex;
			}
		}

		h2 {
			float: right;
		}

		padding-bottom: ($baseline * 1);
	}
}

