/* $Id$ */

@media only screen {

	html {
		height: 100%;
	}

	body {
		min-height: 100%;

		for $l in 0 .. length($grid.ncols) - 1 {
			$q = grid-breakpoint($grid, $l);
			@media $q {

				if ($grid.layouts[$l] == fixed) {
					box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
				}

				if (menustyle($l) == sidebar) {
					display: flex;
					flex-flow: row nowrap;
					align-items: stretch;
				}
			}
		}
	}

	nav {
		order: 0;
		flex:  none;

		ul {
			menu-list();

			margin: 0;

			li a {
				span.command[data-refclass]:before {
					content: "<";
				}

				span.command[data-refclass]:after {
					content: "." attr(data-refclass) ">";
				}
			}
		}
	}

	main {
		padding-bottom: ($baseline * 3);

		order: 1;
		flex:  1;
	}

	for $l in 0 .. length($grid.ncols) - 1 {
		$q = grid-breakpoint($grid, $l);
		@media $q {

			body, ol.overlay#cols {
				grid-container($grid, $l);
			}

			nav {
				concertina-layout(menustyle($l));

				if (menustyle($l) == vertical) {
					grid-column($grid, $l, $grid.ncols[$l]);

					hr {
						display: none; // distracting for a compact menu
					}

					padding: 0;
				} else {
					grid-column($grid, $l, sidebar($l));

					hr {
						height: ($baseline * 0.5);
						background-color: transparent;
						margin: 0;
					}

					min-height: 100%; // XXX

					padding-left:   0;
					padding-right:  0;
					padding-top:    ($baseline * 2);
					padding-bottom: ($baseline * 1);
				}
			}

			main {
				grid-column($grid, $l, $grid.ncols[$l] - sidebar($l));

				if (!sidebar($l)) {
					header {
						display: none;
					}
				}
			}

		}
	}

}

