/* $Id$ */

$fontsize = 14px;
$baseline = 20px;

$grid = {
	ncols:    ( 1       4      5      7      )
	layouts:  ( fluid   fluid  fixed  fixed  )
	aligns:   ( center  center center center )

	colwidth: $baseline * 6
	gutter:   $baseline * 2

	fixed-margin: $baseline * 2
	fluid-margin: $baseline * 2

	colour: #dbf
}

