/* $Id$ */

$fontsize = 14px;
$baseline = 20px;
$edgesize = $baseline;
$indent   = 2em;

$grid = {
	ncols:    ( 1       4      5      7      )
	layouts:  ( fluid   fluid  fixed  fixed  )
	aligns:   ( left    left   left   left   )

	colwidth: $baseline * 6
	gutter:   $baseline * 1

	fixed-margin: 0
	fluid-margin: 0

	colour: #dbf
}

sidebar($l) { return $grid.ncols[$l] == 7 ? 2 : 0; }
indent($l)  { return $grid.ncols[$l] > 1; }

