/* $Id$ */

$fontsize = 14px;
$baseline = 20px;
$indent   = 2em;

$trigram ?= {
	size: floor($baseline * 0.75) / 5
}

$kmkf = {
	fg:   #7c8 // #7b9
	bg:   #222
	bold: #000
	code: #888

	line: $trigram.size
}

$grid = {
	ncols:    ( 1      2      3      4      5      )
	layouts:  ( fluid  fluid  fluid  fluid  fixed  )
	aligns:   ( center center center center center )

	colwidth: $baseline * 7
	gutter:   $baseline * 1

	fixed-margin: 0
	fluid-margin: 0

	colour: lighten(spin($kmkf.fg, 90deg), 70%)
}

$menu = {
	border: none
	delta:  $grid.gutter
	colour: $kmkf.code
	height: $baseline * 1.5
	time:   .25s
}

sidebar($l)   { return $grid.ncols[$l] >= 4 ? 1 : 0; }
indent($l)    { return $grid.ncols[$l] > 2; }
listcols($l)  { return $grid.ncols[$l] > 2 ? 2 : 1; }
menustyle($l) { return sidebar($l) ? sidebar : vertical; }

