/* $Id$ */

ol.glossary {
	list-style-type: none;
	padding: 0;
	margin: 0 auto 36px auto;	/* @grid-baseline * 2 */
	width: 649px;	/* 24px * 26 + 1px * 25 */
	display: block;
}

ol.glossary:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}

ol.glossary li,
ol.glossary li a {
	display: block;
	width: 24px;	/* arbitary size; as wide as i can get it, and still fit nicely */
	line-height: 23px;	/* @grid-baseline * 1.25; intentionally off-grid */
}

ol.glossary li {
	text-align: center;
	color: #ccc;
	border-left: dotted 1px #ccc;
	padding: 0;
	float: left;
	cursor: default;
	margin: -2px 0 -2px 0;	/* (@grid-baseline - line-height / 2) */
}

ol.glossary li:first-child {
	border-left: none;
}

ol.glossary li a {
	color: #444;
	text-decoration: none;
}

ol.glossary li a:hover {
	color: #000;
	background-color: #e7e7e7;
}

