/* $Id$ */

section.page {
	padding: @grid-baseline 1em;
}

header, nav.menu, section.page, footer {
	.grid-container(0 1em, 0);
}

nav.menu {
/* XXX:
	margin-top:   -@grid-baseline;
	margin-left:  -1em;
	margin-right: -1em;
	margin-bottom: 0;
*/
}

nav#monthindex {
	display: block;
}

nav#monthindex ol.pages {
	float: left;
}

nav#monthindex > a {
	float: right;
}

article.entry {
/* TODO:
	width:       (@grid-width * 5);
	margin-left: (@grid-width * 0);
*/
}

article.entry p {
	/* XXX: hackish; this is for a gutter */
	margin-right: 1em;
}

body section.page {
/* XXX:
	position: relative;
*/
}

nav.sidebar {
	font-size:   (@grid-basefont - 1px);
	top:      (@grid-baseline * 7);
/* TODO:
	width:    (@grid-width    * 3);
	right:    1em;
	position: absolute;
*/
	display: none;
}

