/* $Id$ */

@import "header.less";
@import "menu.less";
@import "tags.less";
@import "colour.less";

@import "grid.less";
@import "baseline.less";
@import "calendar.less";
@import "blog.less";
@import "layout.less";
@import "screen.less";

@import "theme.less";

body {
	margin:  0;
	padding: 0;

	font-family: Quattrocento, serif;
	word-spacing: -1px;
}

body, p, dd {
	text-align: justify;
}

h1 { 
	font-weight: normal;
	text-align: left ! important;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	font-weight: normal;
}

em {
	font-weight: bold;
	font-style:  normal;
}

abbr[title],
acronym[title] {
        border-bottom: dotted 1px #888;
}

article.entry h1 time[pubdate] {
	color: #ccc;
	padding-left: 0.5em;
	margin-left:  0.5em;
	border-left:  solid 1px #ddd;
	font-size:    (@grid-baseline * 0.9);
}

article.entry h1 time[pubdate] span.ordinal {
	font-size:    (@grid-baseline * 0.8);
}

nav.sidebar table.calendar,
nav.sidebar ol.years {
	margin-left: 1em;
	width: 90%;
}

nav.sidebar table.calendar a {
	display: block;
	padding:  2ex  3ex;
	margin:  -2ex -3ex;
}

nav.sidebar ol.years li {
	padding:  2ex  1em;
}

nav.sidebar ol.years li a {
	display: block;
	padding:  2ex  1em;
	margin:  -2ex -1em;
}

nav.sidebar table.calendar td,
nav.sidebar table.calendar th {
	padding:  2ex  3ex;
}

article.entry ul.tags {
	margin: 0;
	position: relative;
	top:           (-@grid-baseline * 0.5);
	margin-bottom: (-@grid-baseline * 0.0);
}

article.entry ul.tags li {
	display: inline;
	margin: 0;
}

article.entry ul.tags li a {
	margin: 0;
	margin-right: 1ex;
}

