/* $Id$ */

@www-css: "http://www.libfsm.org/css";

@grid-baseline: 18px;
@grid-basefont: 14px;

@grid-width:   100%;
@grid-gutter:  @grid-baseline;
@grid-ncols:   8;

@full-min: 700px; /* threshold for going "fullscreen" */

@cal-cell: 2em;

