/* $Id$ */

table.docs {
	border: 0;
	margin: 0;
}

table.docs tbody th div.desc {
	font-weight: normal;
	line-height: 18px;	/* @grid-baseline */
	color: #999;
}

dl.man dt a {
	width: inherit;
	float: left;
}

dl.man dt {
	clear: left;
	float: left;
	text-align: right;
	width: 110px;
}

dl.man dd:before {
	content: "\A0\2014\A0";
}

dl.man dd {
	width: 40em;
	margin-bottom: 0;
}

dl.man {
}

div.body h2 {
	line-height: 18px;
}

