<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Kate&rsquo;s Web Widgets &mdash; Javascript Templates</title>

		<script src="template.js" type="text/javascript"/>

		<style>
			/* odd... firefox and chrome need this (otherwise the DOM-created LIs in eg2 are inline); opera does not. */
			li { display: list-item; }
		</style>

		<script type="text/template" id="eg1">
			<div class="comment-preview">
				<span class="date"><?js 1 + 3 ?></span>
				<span class="fish"><?js 'abc' ?></span>
				<span class="name"><?js document.createTextNode('abc') ?></span>
				<span class="road"><?js abc ?></span>
			</div>
		</script>

		<script type="text/template" id="eg2">
			<ol>
				<?js
					/* using a function to return a value - but this is not neccessary; see eg3 */
					(function () {
						var f = document.createDocumentFragment();

						for (var i = 0; i < n; i++) {
							var e;

							/* constructing DOM nodes by hand - see eg3 for using Template() for LIs instead */
							e = document.createElement('li');
							e.appendChild(document.createTextNode((i + 1) + ' of ' + n));
							f.appendChild(e);
						}

						return f;
					}).apply(this);
				?>
				<li>abc</li>
			</ol>
		</script>

		<script type="text/template" id="eg3-li">
			<li>
				<?js i + 1 ?> of <?js n ?>
			</li>
		</script>

		<script type="text/template" id="eg3">
			<ol>
				<?js
					for (i = 0; i < n; i++) {
						f.appendChild(Template(l, { i: i, n: n }));
					}

					f;
				?>
				<li>def</li>
			</ol>
		</script>

		<script type="text/template" id="eg4">
			<a href="{ url }-{ cheese }" name="xyz-{ cheese }" id="{ cheese }-id">
				<?js name ?>
			</a> |
			<a name="xyz-{ cheese }" id="{ cheese }-id">
				<?js this.parentNode.href = 'xyz'; ?>
			</a> |
			<a id="{ cheese }" href="{ this.nodeName }">
				<?js cheese ?>
			</a>
			<pre>
				<?js typeof (arguments.callee) ?>
				<?js this.parentNode.insertBefore(document.createTextNode('xyz'), this); 'abc' ?>
			</pre>
			<pre>
				<?js this.parentNode.innerHTML ?>
			</pre>
		</script>

		<script type="text/template" id="eg5">
			<span a="a" b="{ 2 + 3 }" c="{ null }" d="{ 'd' }" e="e" f="{ 1 + 2 }">
				<?js null ?>
			</span>
			<span class="{ undefined }">
				<?js undefined ?>
			</span>
			<span class="{ null }">
				<?js null ?>
			</span>
			<span class="{ '' }">
				<?js '' ?>
			</span>
			<span class="{ false }">
				<?js false ?>
			</span>
			<span class="{ 0 }">
				<?js 0 ?>
			</span>
			<span class="{ 'x' }">
				<?js 'x' ?>
			</span>
		</script>
	</head>

	<body>
		<p id="xyz1"/>
		<hr/>
		<p id="xyz2"/>
		<hr/>
		<p id="xyz3"/>
		<hr/>
		<p id="xyz4"/>
		<hr/>
		<p id="xyz5"/>

		<script>
		<![CDATA[


			var e1 = document.getElementById('eg1');

			var x1 = Template(e1, { abc: 'hello' });

			document.getElementById('xyz1').appendChild(x1);



			var e2 = document.getElementById('eg2');

			var x2 = Template(e2, { n: 3 });

			document.getElementById('xyz2').appendChild(x2);



			var e3 = document.getElementById('eg3');

			var x3 = Template(e3, {
					n: 3,
					l: document.getElementById('eg3-li'),
					f: document.createDocumentFragment()
				});

			document.getElementById('xyz3').appendChild(x3);



			var e4 = document.getElementById('eg4');

			var x4 = Template(e4, {
					url:    'abc',
					cheese: 'edam',
					name:   'fish'
				});

			document.getElementById('xyz4').appendChild(x4);



			var e5 = document.getElementById('eg5');

			var x5 = Template(e5, null);

			document.getElementById('xyz5').appendChild(x5);

		]]>
		</script>

	</body>
</html>

