g.hover path {
	stroke: red;
	stroke-width: 2px;
}

g.hover polygon {
	stroke: red;
	fill: red;
	stroke-width: 2px;
}

g.hover text {
	fill: red;
	font-weight: bold;
}

g.hover ellipse {
	stroke: red;
	stroke-width: 2px;
	fill: red;
	fill-opacity: 0.1;
}

/* this gives the mouse something to hover over */
g ellipse {
	fill: white;
	fill-opacity: 0.0;
}

