/* $Id$ */

span.date {
	display: block;
	width: 7em;
	float: left;
	text-align: right;
}

div.entry {
	margin: 0 18em 1.5em 8em;
}

div.entry ul.dotless li {
	list-style-type: none;
	margin-bottom: 1em;
}

div.cal {
	float: right;
	position: relative;
	top: -1em;
}

div.cal table {
	margin: 0;
}

div.cal table th,
div.cal table td {
	text-align: center;
}

div.cal table th {
	font-weight: normal;
}

div.cal table td {
	color: #bbb;
}

div.cal hr {
	margin-top: 0;
}

div.prose p {
	text-indent: 2em;
	margin: 0;
}

div.prose p:first-child {
	text-indent: 0;
	margin-top: 1em;
}

div.imglist img {
	height: 100px;
}

div.imglist {
	text-align: left;
}

h2 {
	font-weight: normal;
}

h2:after {
	content: ".";
}

