/* $Id$ */

span.date {
	color: #aaa;

	display: block;
	width: 7em;
	float: left;
	text-align: right;
}

div.entry {
	margin: 0 15em 1.5em 8em;
}

div.cal {
	float: right;
	position: relative;
	top: -1em;
	width: 12em;
}

div.cal table {
	margin: 0;
}

div.cal table th,
div.cal table td {
	text-align: center;
}

div.cal hr {
	margin-top: 0;
}

div.prose p {
	text-indent: 2em;
	margin: 0;
}

