/* $Id$ */

.api-error {
	background-color: #fdd;
	border: solid 1px #e99;
	color: #a22;
}

.api-warning {
	background-color: #ffd;
	border: solid 1px #ee9;
	color: #aa2;
}

td.api-yes {
	background-color: #dfd;
	border: solid 1px #9e9;
	color: #2a2;
}

.api-no {
	background-color: #fdd;
	border: solid 1px #e99;
	color: #a22;
}

td.api-partial {
	background-color: #ffd;
	border: solid 1px #ee9;
	color: #aa2;
}

tbody.expanded td.api-yes {
	background-color: #efe;
	border: solid 1px #cec;
	color: #8c8;
}

tbody.expanded td.api-no {
	background-color: #fee;
	border: solid 1px #ecc;
	color: #c88;
}

tbody.expanded td.api-partial {
	background-color: #ffe;
	border: solid 1px #eec;
	color: #cc8;
}


table td.expandable.collapsed:after { content: "\25B6"; }
table td.expandable.expanding:after { content: "\25E2"; }	/* not very good */
table td.expandable.expanded:after { content: "\25BC"; }
table td.expandable { cursor: pointer; }
table td.expandable:hover { background-color: #f7f7f7; color: #222; }
table td.expandable:after:hover { color: #222; }

table td.expandable {
	min-width: 250px;
}

table td.expandable:after {
    min-width: 1em;
    text-align: right;
    padding-left: 1em;
    color: #ddd;
    display: block;
    float: right;
    cursor: pointer;
}

table tbody.collapsed {
	display: none;
}

table tbody.expanded {
	display: table-body;
}

td.noborder { border: none; }

