/* $Id: common.css 2710 2012-04-16 23:38:49Z kate $ */

/*
 * "The TenDRA Project" banner
 */

/* intentionally off-grid */
h1#banner {
	margin: 0;
	padding-top:    1.0em;
	padding-bottom: 1.5em;

	font-feature-settings: "smcp" 1;
	font-feature-settings: "size" 1;
	font-feature-settings: "cpsp" 1;

	text-transform: lowercase;
	text-align:     center;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			color: inherit;
		}
	}

	span.logo {
		font-size: 1.5em;

		font-feature-settings: "smcp" 0;

		text-transform: none;

		display: inline-block; // for ::first-letter
		&::first-letter {
			font-weight: 300;
			font-size: 1.1em;
			margin-right: -0.2ex; // kerning
		}

		margin-left:  -0.3ex; // kerning
		margin-right: -0.1ex; // kerning
	}

	// XXX: rename to span.sc
	span.smallcaps {
		font-size: 1.2em;

		display: inline-block; // for ::first-letter
		&:first-letter {
			margin-right: -0.1ex;
		}
	}
}

