/* $Id: common.css 2710 2012-04-16 23:38:49Z kate $ */

/*
 * "The TenDRA Project" banner
 */

/* intentionally off-grid */
h1#banner {
	margin:  0;
	padding: 0;

	font-feature-settings: "c2sc" 1;
	font-feature-settings: "size" 1;
	font-feature-settings: "cpsp" 1;

	text-transform: uppercase;
	text-align:     center;

	a {
		display: inline-block;
		line-height: 0.75em; // for fake underline to be in the right place
		margin-top:  (1em - @line-height);

		text-decoration: none;

		$ul = 0.2ex; // about the same as text-decoration's underline width
		border-bottom: solid $ul transparent;
		margin-bottom: -($ul);

		&:hover {
			color: inherit;
			border-bottom-color: inherit;
		}
	}

	span.logo {
		font-size: 1.5em;

		font-feature-settings: "c2sc" 0;

		text-transform: none;

		display: inline-block; // for ::first-letter
		&::first-letter {
			font-weight: 300;
			font-size: 1.1em;
			margin-right: -0.2ex; // kerning
		}

		margin-left:  -0.3ex; // kerning
		margin-right: -0.1ex; // kerning
	}

	// XXX: rename to span.sc
	span.smallcaps {
		font-size: 1.2em;

		display: inline-block; // for ::first-letter
		&:first-letter {
			margin-right: -0.1ex;
		}
	}
}

