/* $Id: common.css 2710 2012-04-16 23:38:49Z kate $ */

/*
 * "The TenDRA Project" Banner
 */

h1#banner a {
	text-decoration: none;
}

h1#banner a:hover {
	text-decoration: underline;
	color: #000;
}

h1#banner {
	padding-top: 1em;
	padding-bottom: 1.5em;
	margin: 0;
	font-size: 10pt;
	text-transform: uppercase;
}

h1#banner span.logo {
	font-size: 24pt;
	text-transform: none;
}

h1#banner span.smallcaps {
	text-transform: lowercase;
	font-variant: small-caps;
}


