/* $Id: common.css 2710 2012-04-16 23:38:49Z kate $ */

for $l in 0 .. length($grid.ncols) - 1 {
    $q = grid-breakpoint($grid, $l);
    @media $q {

		if ($grid.layouts[$l] == fixed) {
			html {
				background-color: #134;
			}

			body {
				border-right: solid 1px #ddd;
				border-left:  solid 1px #ddd;

				// TODO: prefix -moz etc for other browsers, too
				box-shadow: 0px 0px 300px 0px rgba(0, 0, 0, 0.4);
			}
		} else {
			html {
				background-color: #fff;
			}

			body {
				background-color: inherit;
			}
		}

	}
}

body {
	color: #444;
	background-color: #fff;
}

hr {
	height: 1px;
	background-color: #eee;
	border: none;
}

b {
	color: #222;
}

em {
	font-style: normal;
	color: #000;
}

a {
	text-decoration: underline;
	color: #000;

	&:hover {
		color: blue;
	}

	tt {
		color: inherit;
	}

	acronym.title:hover {
		color: inherit;
		border-bottom-color: #88f;
	}
}

h1 {
	color: #222;
}

h2, h3, h4 {
	color: #aaa;
}

menu {
	& > li:hover > a {
		color: #fff;
	}

	li:hover ul a {
		color: #222;
	}

	li > a:hover {
		color: #000;
	}

	li ul {
		border-top-color: #111;
		border-bottom-color: #111;
	}

	& > li:hover,
	& > li:hover > a:hover {
		background-color: #111;
		color: #fff;
	}
}

ul.otherformats li:before {
	color: #ccc;
}

ol.glossary li {
	li {
		color: #ccc;

		a {
			color: (@color / 2);
			text-decoration: none;

			&:hover {
				color: #000;
				background-color: #e7e7e7;
			}
		}
	}
}

