/* $Id: common.css 2710 2012-04-16 23:38:49Z kate $ */

for $l in 0 .. length($grid.ncols) - 1 {
    $q = grid-breakpoint($grid, $l);
    @media $q {

		if ($grid.layouts[$l] == fixed) {
			html {
				background-color: #134;
			}

			body {
				border-right: solid 1px #ddd;
				border-left:  solid 1px #ddd;

				// TODO: prefix -moz etc for other browsers, too
				box-shadow: 0px 0px 300px 0px rgba(0, 0, 0, 0.4);
			}
		} else {
			html {
				background-color: #fff;
			}

			body {
				background-color: inherit;
			}
		}

	}
}

body {
	color: #444;
	background-color: #fff;
}

hr {
	height: 1px;
	background-color: #eee;
	border: none;
}

b {
	color: #222;
}

em {
	font-style: normal;
	color: #000;
}

a {
	text-decoration: underline;
	color: #000;

	&:hover {
		color: blue;
	}

	tt {
		color: inherit;
	}

	acronym.title:hover {
		color: inherit;
		border-bottom-color: #88f;
	}
}

h1 {
	color: #222;
}

h2, h3, h4 {
	color: #aaa;
}

ul.otherformats li:before {
	color: #ccc;
}

ol.glossary li {
	li {
		color: #ccc;

		a {
			color: (@color / 2);
			text-decoration: none;

			&:hover {
				color: #000;
				background-color: #e7e7e7;
			}
		}
	}
}

/* XXX: tendra-specific concertina stuff */
for $l in 0 .. length($grid.ncols) - 1 {
	$q = grid-breakpoint($grid, $l);
	@media $q {
		if ($grid.ncols[$l] <= 3) {
			header nav {
				li a {
					background-color: lighten($menu.colour, 50%);
				}

				li.current a {
					/* trigram */
					&:after {
						color:        darken($menu.colour, 30%);
						border-color: darken($menu.colour, 30%);
					}

					&:hover:after {
						border-color: #fff;
					}
				}

				&.collapsed {
					& > li.current a {
						color: darken($menu.colour, 30%);
					}

					& > li:hover > a {
						background-color: #000;
						color: #fff;
					}
				}

				border-bottom: solid 0 $menu.colour;
			}
		}
	}
}

header nav > ul > li > a {
	menu-item();
}

header nav,
ul.menu {
	a, a:hover {
		text-decoration: none;
	}
}

header nav li ul > li > a:hover,
header nav li.current > a,
ul.menu li a:hover {
	background-color: $menu.colour;
}

header nav ul {
	span.description {
		float: right;
		color: #aaa;
	}

	& > li:hover > a {
		background-color: #000;
		color: #fff;
	}

	& > li.current > a {
		font-weight: bold;
	}

	ul {
		background-color: #fff;

		li:hover a {
			color: #000;
		}
	}
}

ul.menu {
	margin: 0 0 $baseline 0;

	menu-list();

	li {
		border-top-color: #ddd;
		border-top-style: dotted;

		a {
			color: #666;

			&:hover {
				color: #000;
			}

			&:before {
				color: #ddd;
			}
		}

		a {
			hang($list.gutter, $list.padding, inline);

			padding-left: 0; // XXX: breaks abstraction?

			&:before {
				content: "\25B6";
			}
		}

		&.current a:before {
			color: #888;
		}
	}
}

header nav > ul {
	margin-bottom: 0; // override baseline

	menu-dropdown();

	li > ul {
		border-top:    solid $menu.bar #000;
		border-bottom: solid $menu.bar #000;

		background-color: #fff;
		min-width: 18em;

		li {
			border-color: #ddd;

			&.sep {
				border-bottom-color: #ddd;
			}
		}

		&:after {
			padding-top: $menu.bar;
			top:  -($menu.bar);
		}
	}
}

