/* $Id: common.css 2710 2012-04-16 23:38:49Z kate $ */

/* main */

div.head, div.foot { border-color: #111; }
menu li ul {
	border-top-color: #111;
	border-bottom-color: #111;
}
menu > li:hover,
menu > li:hover > a:hover {
	background-color: #111;
	color: #fff;
}


/* accents */

a tt {
	color: inherit;
}

a acronym.title:hover {
	color: inherit;
	border-bottom-color: #88f;
}

menu > li:hover > a {
	color: #fff;
}

h1 {
	color: #222;
}

h2, h3, h4 {
	color: #aaa;
}

menu li:hover ul a {
	color: #222;
}

menu li > a:hover {
	color: #000;
}

div.timeline dt a em {
	color: #222;
}

