/* $Id: debug.less 316 2012-02-22 18:10:48Z kate $ */

@import "theme.styl";

@import "misc.styl";
@import "grid.styl";
@import "overlay.styl";

html.debug {
	ol.overlay {
		&#cols {
			display: block;
		}

		&#rows {
			display: block;
		}
	}

	header, footer {
		background-color: pink;
	}

	section.page {
		background-color: lightgreen;
	}

	nav#sidebar {
		background-color: #ffd;
	}

	header > h1#banner {
		background-color: lightgreen;
	}

	section.docs {
		background-color: pink;

		div {
			background-color: aliceblue;
		}
	}

}

