
font-face("Libertine", 300, normal, '/fonts/Libertine-Display', '#Libertine-Display'); // no smcp
font-face("Libertine", 400, normal, '/fonts/Libertine-Regular', '#Libertine-Regular');

/* faces, weights and styles */
body {
	font-family: verdana, helvetica, arial, sans-serif;

	h1 {
		font-family: Libertine, Palatino, Pagella, serif;
		font-weight: 400;
	}

	h2, h3, h4 {
		font-family: inherit;
		font-weight: 400;
	}

	em.sc {
		font-weight: normal;
		font-style:  normal;
	}

	blockquote {
		font-style: normal;
	}

	label {
		font-weight: normal;
	}

	menu li.current {
		font-weight: bold;

		ul {
			font-weight: normal;
		}
	}

	dl.glossary {
		dt, dd.abbr {
			font-weight: bold;

			span.note {
				font-weight: normal;
			}
		}
	}
}

/* sizes */
body {
	font-size:   13px;
	line-height: $baseline;

	h1 {
		font-size: 28px;
		line-height: ($baseline * 2);
	}

	h2 {
		font-size: 18px;
		line-height: ($baseline * 2);
	}

	h3 {
		font-size: 16px;
	}

	h4 {
		font-size: 14px;
	}

	input {
		font-size: 11px;
	}
}

// to optically match h2, adjusted for c2sc
html.minidocbook.refentry main h1 {
	font-size: 20px;
	line-height: ($baseline * 2);

	text-transform: uppercase;

	font-feature-settings: "c2sc" 1;
	font-feature-settings: "cpsp" 1;
	font-feature-settings: "lnum" 1;
	font-feature-settings: "tnum" 1;
}

/* alignment */
body {
	p, td, dd {
		text-align: justify;
	}
}

/* features */
body {
	pre {
		overflow-x: auto;
	}

//	font-feature-settings: "onum" 1;
	font-feature-settings: "kern" 1;
	font-feature-settings: "frac" 1;
	font-feature-settings: "ss01" 1; // neater Ä Ö Ü
	font-feature-settings: "dlig" 1; // ij

	// XXX: rename to span.sc
	span.smallcaps,
	span.units, span.sc, em.sc {
		font-feature-settings: "c2sc" 1;
	}

	h1, h2, h3, h4 {
		font-feature-settings: "kern" 1;
		font-feature-settings: "size" 1;
		font-feature-settings: "lnum" 1;
		font-feature-settings: "cpsp" 0;
	}
}

acronym.title {
	border-bottom: dotted 1px #888;

	&:hover {
		border-bottom-color: #000;
		color: #000;

		@media screen {
			cursor: help;
		}
	}
}

