/* $Id$ */

/* XXX: bubblephone-specific concertina stuff */
for $l in 0 .. length($grid.ncols) - 1 {
	$q = grid-breakpoint($grid, $l);
	@media $q {
		if ($grid.ncols[$l] <= 3) {
			header nav {
				li a {
					background-color: lighten($menu.colour, 50%);
				}

				li.current a {
					transition: color $menu.time ease-in-out;

					/* trigram */
					&:after {
						color:        darken($menu.colour, 30%);
						border-color: darken($menu.colour, 30%);
					}

					&:hover:after {
						border-color: darken($menu.colour, 50%);
					}
				}

				&.collapsed li.current a {
					color: darken($menu.colour, 30%);
				}

				border-bottom: solid 0 $menu.colour;
			}
		}
	}
}

header nav a,
aside.notes dl dt a {
	text-align: left;
	display: block;
	padding: ($menu.delta / 2) $menu.delta;

	&:hover {
		text-decoration: none;
	}
}

aside.notes dl dt:before {
	padding: ($menu.delta / 2) $menu.delta;
}

header nav li a:hover,
header nav li.current > a,
nav.submenu li.current > a,
nav.submenu li a:hover,
aside.notes dl dt a:hover {
	background-color: $menu.colour;
	text-decoration: none;
}

@media screen {

	header nav li a,
	nav.submenu li a,
	aside.notes dl dt a {
		cursor: pointer;
	}

}

//$menu.pad-sides = ($grid-pad-sides * 0.75);
$menu.pad-sides = ($baseline * 0.75);

// TODO: centralise
menu-container() {
	li a {
		display: block;
		text-decoration: none;
	}

	& > li a {
		line-height: ($baseline * 1.5);
	}

	& li a:hover {
		background-color: #eee;
	}
}

ul.menu,
header nav {
	menu-container();
}

ul li.current a {
	color: #000;
}

ul.menu {
	list-style-type: none;
	margin:  0 0 $baseline 0;
	padding: 0;

	li {
		border-top: dotted 1px #ddd;
		margin: 0;

		&:first-child {
			border-top: none;
		}

		&.current a:before {
			color: #888;
		}

		a:before {
			content: "\25b8";
			color: #ddd;
			display: block;
			width: $baseline;
			float: left;
			clear: left;
			text-align: center;
		}

		a {
			line-height: ($baseline * 1.5);
			color: #666;

			&:hover {
				color: #000;
			}
		}
	}
}


/* sections menu */
// TODO: centralise

/* adapted from http://www.divitodesign.com/2008/09/how-to-dropdown-css-menu/ */

header nav {
	& > ul {
		margin-bottom: 0; // override baseline
	}

	& > li > a {
		height:  ($baseline * 1.5);
		padding: 0 $menu.pad-sides;
		margin:  0;
	}

	& > li.current > a {
		font-weight: bold;
	}

	&,
	& li > ul {
		list-style-type: none;
		z-index: 1;
	}

	& li > ul {
		border-top:    solid 5px #000;
		border-bottom: solid 5px #000;
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		background-color: #fff;

		top: auto;
		left: auto;

		li a {
			min-width: (15em);
			height:    ($baseline * 1.5);
			padding:   0 ($menu.pad-sides - 1px); /* -1px for the border */
			margin:    0;
		}

		li {
			border-left:  solid 1px #ddd;
			border-right: solid 1px #ddd;
			margin: 0;

			span.description {
				float: right;
				color: #aaa;
				font-size: .95em;
			}
		}

		li.sep {
			border-bottom: solid 1px #ddd;
		}
	}

	& li:hover ul {
		display: block;
	}
}

