/* $Id$ */

/* XXX: bubblephone-specific concertina stuff */
for $l in 0 .. length($grid.ncols) - 1 {
	$q = grid-breakpoint($grid, $l);
	@media $q {
		if ($grid.ncols[$l] <= 3) {
			header nav {
				li a {
					background-color: lighten($menu.colour, 50%);
				}

				li.current a {
					transition: color $menu.time ease-in-out;

					/* trigram */
					&:after {
						color:        darken($menu.colour, 30%);
						border-color: darken($menu.colour, 30%);
					}

					&:hover:after {
						border-color: darken($menu.colour, 50%);
					}
				}

				&.collapsed li.current a {
					color: darken($menu.colour, 30%);
				}

				border-bottom: solid 0 $menu.colour;
			}
		}
	}
}

header nav a,
aside.notes dl dt a {
	text-align: left;
	display: block;
	padding: ($menu.delta / 2) $menu.delta;

	&:hover {
		text-decoration: none;
	}
}

aside.notes dl dt:before {
	padding: ($menu.delta / 2) $menu.delta;
}

header nav li ul > li > a:hover,
header nav li.current > a,
nav.submenu li.current > a,
nav.submenu li a:hover,
aside.notes dl dt a:hover {
	background-color: $menu.colour;
	text-decoration: none;
}

@media screen {

	header nav li a,
	nav.submenu li a,
	aside.notes dl dt a {
		cursor: pointer;
	}

}

// TODO: centralise
menu-container() {
	li a {
		display: block;
		text-decoration: none;
		padding: $menu.verts $menu.sides;
	}

	& li a:hover {
		background-color: #eee;
	}
}

ul.menu,
header nav {
	menu-container();
}

header nav ul {
	span.description {
		float: right;
		color: #aaa;
	}

	& > li:hover > a {
		background-color: #000;
		color: #fff;
	}

	& > li.current > a {
		font-weight: bold;
	}

	ul {
		background-color: #fff;

		li:hover a {
			color: #000;
		}
	}
}

ul.menu {
	list-style-type: none;
	margin:  0 0 $baseline 0;
	padding: 0;

	li {
		border-top: dotted $menu.border #ddd;
		margin: 0;

		&:first-child {
			border-top: none;
		}

		&.current a:before {
			color: #888;
		}

		a:before {
			content: "\25b8";
			color: #ddd;
			display: block;
			width: $baseline;
			float: left;
			clear: left;
			text-align: center;
		}

		a {
			color: #666;

			&:hover {
				color: #000;
			}
		}
	}
}


/* sections menu */
// TODO: centralise

/* adapted from http://www.divitodesign.com/2008/09/how-to-dropdown-css-menu/ */

header nav > ul {
	margin-bottom: 0; // override baseline

	&,
	li > ul {
		list-style-type: none;
		z-index: 1;
	}

	li > ul {
		border-top:    solid $menu.bar #000;
		border-bottom: solid $menu.bar #000;
		display: none;
		position: absolute;
		background-color: #fff;
		min-width: 18em;

		margin:  0;
		padding: 0;

		top:  auto;
		left: auto;

		li {
			border-left:  solid $menu.border #ddd;
			border-right: solid $menu.border #ddd;

			margin: 0;

			a {
				padding-left: ($menu.sides - $menu.border);
				padding-right: ($menu.sides - $menu.border);
			}
		}

		li.sep {
			border-bottom: solid $menu.border #ddd;
		}

		/*
		 * This is an overlapping box, to give the cursor something to aim for,
		 * so the menu doesn't vanish if you go just over the edge of its box.
		 * It's not clickable; it just holds the menu open by its :hover.
		 */
		&:after {
			content: "\A0";
			background-color: transparent;
			position: absolute;
			width:  100% + 20%;
			height: 100% + 15%;
			top:   0;
			left: -10%;
			z-index: -1;
		}
	}

	li:hover ul {
		display: block;
	}
}

