/* $Id: print.styl 6703 2014-06-28 22:09:50Z tom $ */

/*
 * Workaround to elide the browser-supplied header and footer for Chrome.
 * Courtesy of: https://stackoverflow.com/questions/1960939
 */
@media print {
	@page {
		size:   auto; // auto is the current printer page size
	}
}

@media print {
	@page {
		margin: 1.5cm 1.75cm;
	}

	@page :first {
		margin-top: 1cm;
	}

	body {
		margin: 0;
   }
}

@media print {
	header h1#banner {
		text-align: right;
	}

	footer ul.otherformats {
		display: none;
	}

	a {
		color: inherit;
	}

	/* TODO: centralise print href styles */

	/*
	 * Here we follow the BBC styleguide for printing links in text:
	 * "Use the shortest form that works". This means bubblephone.com
	 * rather than http://www.tendra.org
	 */

	a:after {
		// XXX: actually incorrect; should be in the current directory (e.g. for pr/$date/)
//		content: " (tendra.org/" attr(href) ") ";
	}

	a[data-manvolnum]:after {
		display: none;
	}

	a[name]:after {
		display: none;
	}

	a[href = ""]:after {
		display: none;
	}

	a[href ^= "#"]:after {
		display: none;
	}

	a[href ^= "mailto:"]:after {
		// already displayed by the link text itself
		display: none;
	}

	a[href ^= "http://"]:after {
//		content: " (" attr(href) ") ";
	}

	body > header a,
	a[href ^= "/"]:after {
//		content: " (tendra.org" attr(href) ") ";
	}

	html.man article a[href ^= "/"]:after {
//		content: "";
	}
}

