/* $Id$ */

/*
 * SVG figures
 */

svg.figure {

	@media screen {
		color-rendering: optimizeQuality;
		image-rendering: optimizeQuality;
		text-rendering:  optimizeLegibility;
		shape-rendering: crispEdges;
	}

	@media print {
		color-rendering: optimizeQuality;
		image-rendering: optimizeQuality;
		text-rendering:  geometricPrecision;
		shape-rendering: geometricPrecision;
	}

	text {
		fill: #444;
		font-size: 90%;
	}

	line,
	polyline,
	path {
		stroke-linejoin: round;
	}

	.dashed {
		stroke-dasharray: 2 2;
		stroke-dashoffset: 1;
		stroke: #aaa;
	}

	text {
		fill: #444;
	}

	rect,
	circle,
	line,
	polyline,
	polygon,
	path {
		stroke: #888;
		stroke-width: 1px;
		stroke-linecap: butt;
	}

	text.na {
		fill: #aaa;
	}

	g.region text {
		fill: #aaa;
		text-transform: lowercase;
		font-variant: small-caps;
	}

	rect.region,
	g.region rect,
	g.region line {
		stroke: #ddd;
	}

	rect,
	circle,
	polyline,
	polygon,
	path {
		fill: none;
	}

	polyline.arrow {
		shape-rendering: geometricPrecision;
		stroke-linecap: round;
	}

	text {
		alignment-baseline: middle;
	}

	g.shaded {
		rect,
		circle,
		polygon {
			fill: #e7e7e7;
		}
	}

	text.shaded,
	g.shaded text {
		fill: #888;
	}

}

