/* $Id$ */

// TODO: centralise most of this

$table ?= {
	border: 1px
	sides:  $grid.gutter || $baseline
	verts:  0.5em
}

table {
	margin: -($table.border);
	border-collapse: collapse;
	border-left:   solid $table.border #ddd;
	border-bottom: solid $table.border #ddd;

	@media screen {

		th.table-sortable:hover {
			background-color: #eee;
		}

		th.table-sortable:hover:after {
			color: #ccc;
		}

		th.table-sorted:after {
			color: #ddd;
		}

	}

	th {
		background-color: #f7f7f7;
	}

	th.table-sorted:after {
		color: #ddd;
	}

	/*
	 * I can't find a way to space tables nicely, and keep them as multiples of the
	 * baseline. So I'm having them intentionally off-grid (perhaps a little
	 * ironic, for a table). Perhaps I can write some javascript which spaces their
	 * containing element to restore vertical rythm for following elements.
	 */
	th, td {
		padding: $table.verts ($table.sides - $table.border);
		vertical-align: top;

		border-top:    solid $table.border #ddd;
		border-right:  solid $table.border #ddd;
		border-left:   none;
		border-bottom: none;
	}
}

