/* $Id$ */

$www-css = "http://www.tendra.org/css";

$grid-baseline = 18px;
$grid-basefont = 16px;

$grid-width   = 100%;
$grid-ncols   = 12;
$grid-gutter  = $grid-baseline;

$glossary-gutter = ($grid-gutter * 7);

$full-min = 700px; /* threshold for going "fullscreen" */

$cal-cell = 2em;

