/* $Id$ */


/* TODO: this should be output and appended to common.css */

/* TODO: main focus here is on baseline for vertical rythm */



div.body {
	padding: $baseline 0;
}

a {
	text-decoration: underline;
	color: #000;
}

a:hover {
	color: blue;
}

body {
	color: #444;
	background-color: #fff;
	/* TODO: bitstream vera sans? dejavu? */
	font-family: 'Lucida Sans', 'Lucida Grande', verdana, tahoma, sans-serif;
	font-family: verdana, tahoma, sans-serif;
}

blockquote {
	margin: 0 $grid-indent $baseline $grid-indent;
	color: #999;
}

pre {
	margin: 0;
}

