/* $Id$ */

$bibliography ?= {
	padding: 0.5em
	gutter:  5em
}

dl.bibliography {
	padding: 0;
	text-align: left;

	clearfix();

	& > dt {
		margin-right: $bibliography.padding;
		min-width:    $bibliography.gutter;
		font-weight: normal;

		float: left;
		clear: left;

		&:before { content: "["; }
		&:after  { content: "]"; }
	}

	& > dd {
		margin-top:    0;
		margin-right:  0;
		margin-left:   ($bibliography.gutter + $bibliography.padding);
		margin-bottom: ($baseline / 2);

		address { display: inline; font-style: inherit; }

		span.pages    { white-space: nowrap; }
		span.isbn     { white-space: nowrap; }
		span.issn     { white-space: nowrap; }
		a.doi         { white-space: nowrap; }
		span.location { white-space: nowrap; }

		div {
			display: inline;
		}

		a.url {
			display: block;
		}

		dl.isxn {
			&, dt, dd {
				margin: 0;
			}

			dt {
				display: inline-block;
				width:   3.5em; /* "ISBN" */

				float: left;
				clear: left;

				&:after {
					content: ": ";
				}
			}
		}

		ul.otherformats {
			pipelist();

			margin-top: 0;

			a {
				text-decoration: none;
			}
		}
	}
}

