
table.calendar {

	// font features harmless for fonts which don't have them

	th {
		font-feature-settings: "tnum" 0;
		font-feature-settings: "pnum" 1;
		font-feature-settings: "lnum" 0;
		font-feature-settings: "onum" 1;
	}

	td {
		font-feature-settings: "pnum" 0;
		font-feature-settings: "tnum" 1;
		font-feature-settings: "onum" 0;
		font-feature-settings: "lnum" 1;
	}

	tr th.month {
		text-align: center;
	}

	td,
	th {
		text-align: right;
		min-width: $baseline;
	}

	td.today {
		background-color: #eee;
	}

	tr:first-child th {
		text-align: center;

		&:first-child,
		&:last-child {
			text-align: right;
		}
	}

}

