/* $Id$ */

// TODO: centralise
logbox($action) {
	$colors = {
		M: #ff0,
		A: #0f0,
		D: #f00,
		R: #000
	}

	c = lighten($colors[$action], 60%);

	&:before {
		line-height: inherit;

		content: " ";
		display: inline-block;
		height: 1.5ex;
		width:  1.5ex;
		border: solid 1px transparent;
		margin-right:   0.5em;
		margin-bottom: -0.25ex; // centre within the line
	}

	&:before {
		background-color: lighten(c, 60%);
		border-color:     darken(desaturate(@background-color, 20%), 25%);
	}

	&:hover:before {
		background-color: lighten(desaturate(c, 20%), 20%);
		border-color:     darken(desaturate(@background-color, 20%), 25%);
	}
}

.changelog {

	dl.paths {
		font-size: 90%;
		margin: 0;

		dt {
			font-weight: normal;
		}

		dd {
			margin-left: 0;
		}
	}

	ul.paths {
		list-style-type: none;
		padding-left: 1em;

		li {
			margin: 0;

			&.copy {
				display: table-row;

				a {
					display: table-cell;
				}

				a:first-child + a:before {
					content: " → ";
					text-align: center;
					display: inline-block;
					width: 2em;
					margin-right: 0;
				}
			}

			& {
				line-height: inherit;
			}
		}
	}

	dl.paths a,
	ul.paths li a {
		display: block;

		&, &:before:hover {
			color: #999;
		}

		&:hover {
			color: #000;
		}
	}

	ul.paths li a {
		&.svn-M:first-child {
			logbox('M')
		}
		&.svn-A:first-child {
			logbox('A')
		}
		&.svn-D:first-child {
			logbox('D')
		}
		&.svn-R:first-child {
			logbox('R')
		}
	}

	aside.msg {
		white-space: pre-wrap;	/* XXX: placeholder until wiki parsing is done */
	}

	form.log label {
		display: block;
	}

}

