/* $Id: comment.css 340 2012-02-26 00:14:02Z kate $ */

$comment ?= {
	gutter:   $list.gutter || 1.0em
	baseline: $baseline    || 0.5em
	aside:    #aaa
}

form.comment {
	input,
	textarea {
		margin-right: $comment.gutter;
	}

	label#stuff2 {
		display: none;
	}

	div.buttons {
		clear: left;
	}

	label {
		display: block;
		margin-bottom: $comment.baseline;
		clear: left;
	}

	textarea {
		margin-bottom: $comment.baseline;
		display: block;
/* XXX:
		max-width: 390px;
		width: 390px;
		float: left;
*/
	}

	aside.markup {
		display: inline-block;
/* XXX:
		max-width: 130px;
*/
//		height: 120px;
		margin-left: 10px;
	}

	aside.markup,
	aside.markup code {
		color: $comment.aside;
	/* TODO: inherit a "smaller" from baseline.styl */
	}

	input[type = "submit"],
	input[type = "button"] {
		display: inline-block;
		padding: 2px 10px;
	}
}

// TODO: rework this
aside#comment-preview {
	display: none;
	border: solid 2px cornflowerblue;
	margin: 0 -10px 0 -10px;
	padding: 10px 20px;
	padding-left: 110px;
	background-color: aliceblue;

	border-radius:         4px;
}

