/*
 * A fold-out expander, for the typical case of a <dl> with multiple
 * independantly expandable items.
 * TODO: support multiple fold-out things within one <dl>
 */

$details ?= {
	collapsed: "\21D2"
	expanding: "\21D8"
	expanded:  "\21D3"

//	time: $nav.time || .25s // TODO
};

details() {
	// TODO: use hang() for this
	& > dt:before {
		margin-left: -2em;
		display: block;
		height: 0;
		text-align: right;
		width: 1.5em;
	}

	/*
	 * I would transform:rotate(90deg); here but it looks terrible because
	 * the triangle is not positioned about its centre.
	 * TODO: maybe try SVG for the triangle, instead?
	 */

	&.collapsed > dt:before { content: $details.collapsed; }
	&.expanding > dt:before { content: $details.expanding; }
	&.expanded  > dt:before { content: $details.expanded;  }

	& > dt a {
		cursor: pointer;
		display: block;
	}

	&.expanding > dd {
//		height: 1.5em;
//		overflow: hidden;
	}

	&.collapsed > dd {
		height: 0em;
		overflow: hidden;
	}
}

