
header#doctitle {
	clearfix();

	h1, h2 {
		margin-top:     0;
		margin-bottom:  0;

		padding-top:    0;
		padding-bottom: 0;

		display: inline;

		line-height: inherit;
	}

	h1 {
		float: left;
		span {
			padding-left: .5ex;
		}
	}

	h2 {
		float: right;
	}
}

