
/*
 * A resizeable iframe, used as an equiavlent to img,
 * to show illustrations of HTML documents.
 *
 * <figure>
 * 	<iframe src="x.html"/>
 * 	<figcaption><a href="x.html">x.htmla></figcaption>
 * </figure>
 */
figure iframe {
	resize: both;
	overflow: auto;
}

