
$glossary ?= {
	gutter:  $list.gutter || 2em
	padding: 1em
}

dl.glossary {
	dt {
		display: inline;
		float: left;
		padding-right: $glossary.padding;

		dfn {
			font-style: normal;
		}

		&.alt {
			padding-right: 1ex;

			&.alt:after {
				content: ", ";
			}
		}

		& + dd.abbr {
			margin-left: 0;

			&:before {
				content: ": ";
				margin-left: -($glossary.padding); /* to overlap the dt's padding-right */
			}
		}
	}

	dd {
		margin-top:    0;
		margin-left:   $glossary.gutter;
		margin-bottom: $baseline;
	}
}

