/*
 * Positioning for hanging itemisation markers. Arguably applying
 * list-item-marker to non-list elements would make more sense.
 */

hang($gutter, $padding = 1ex, type = exdent) {
	if (type == exdent) {
		margin-left: $gutter;
		position: relative; /* for :before */
	}

	&:before {
		width: $gutter;

		// abuse of border as padding, without contributing to @width
		box-sizing:   border-box;
		border-left:  solid $padding transparent;
		border-right: solid $padding transparent;

		if (type == inline) {
			display: inline-block;
			text-align: left;
		} else {
			display: block;
			text-align: right;

			position: absolute;
			left: -($gutter);
		}
	}
}

