/*
 * an "A | B | C | D ..." index thing
 */

$letterindex ?= {
	border:  dotted 1px #ccc
	overlap: 1ex // a:hover vertical overlap relatve to li size
}

nav.letterindex ol {
	padding: 0;
	margin:  0;

	clearfix();

	padding: $letterindex.overlap 0;

	li {
		list-style-type: none;
		border-left: $letterindex.border;
		padding: 0;
		cursor: default;
		float: left;

		&:first-child {
			border-left: none;
		}

		a {
			margin: -($letterindex.overlap) 0;
			padding: ($letterindex.overlap) 0;
		}
	}

	li,
	li a {
		display: inline-block;
		text-align: center;

		min-width: 2em;
		max-width: 3em;
	}
}

