/* $Id: elide.css 571 2013-07-03 22:32:11Z kate $ */

@import "misc.styl";

html {
	background-color: #f7f7ff;
	color: #333;
}

a code, a, a:link, a:visited {
	color: #00f;
	text-decoration: underline;

	*[title].important {
		border-color: @color;
	}
}

a:hover code, a:hover {
	color: #000;

	*[title].important {
		border-color: @color;
	}
}

section.page > dl.index dt a:hover {
	color: inherit;
	background-color: #eee;
}

section.archive-year,
article.entry {
	a:hover time {
		color: inherit;
	}

	time[pubdate] {
		color: #ccc;
	}
}

*[title].important {
	border-bottom: dotted 1px #888;
}

*[title] {
	cursor: help;
}

a *[title] {
	cursor: inherit;
}

::-moz-selection {
	background-color: #ddd;
}

::selection {
	background-color: #ddd;
}

span.noentries {
	color: #ccc;
}

