/* $Id: elide.css 571 2013-07-03 22:32:11Z kate $ */

@import "misc.styl";

$accent = #f22;

body, td {
	background-color: #fff;
	color: #000;
}

a code, a, a:link, a:visited {
	color: $accent;
	text-decoration: none;

	*[title] {
		border-color: @color;
	}
}

a:hover code, a:hover {
	text-decoration: none;
	color: #000;

	*[title] {
		border-color: @color;
	}
}

article.entry {
	a:hover time {
		color: inherit;
	}

	time[pubdate] {
		color: #ccc;
	}
}

*[title] {
	border-bottom: dotted 1px #888;
	cursor: help;
}

