/* $Id: debug.less 316 2012-02-22 18:10:48Z kate $ */

@import "grid.less";
@import "overlay.less";

@import "theme.less";

html.debug ol.overlay#cols {
	display: block;
}

html.debug ol.overlay#rows {
	display: block;
}

