
font-face('Sofia Pro',   300, normal, '/fonts/SofiaPro-Light',     '#SofiaProLight');
font-face('Ubuntu Mono', 400, normal, '/fonts/UbuntuMono-Regular', '#UbuntuMono-Regular');

/* faces, weights and styles */
body {
	font-family: Sofia Pro, Verdana, sans;
	font-weight: 300;

	th {
		font-weight: normal;
	}

	em {
		// TODO
		font-weight: inherit;
		font-style:  italic;
	}

	h1, h2 {
		font-family: inherit;
		font-weight: inherit;

		text-transform: lowercase;

		&:first-letter {
			text-transform: uppercase;
		}
	}

	tt, code, pre {
		font-family: 'Ubuntu Mono', monospace;
		font-weight: 400;
	}
}

/* sizes */
body {
	font-size:   15px;
	line-height: $baseline;

}

/* alignment */
body {
	& {
		text-align: left;
	}
}

/* features */
body {
	text-rendering: optimizeLegibility;

	pre {
		overflow-x: auto;
	}

	font-feature-settings: "onum" 1;
	font-feature-settings: "kern" 1;
	font-feature-settings: "ss01" 0; /* single story 'a' */
	font-feature-settings: "frac" 1;

	h1 {
//		font-feature-settings: "ss01" 1; /* double story 'a' */
		font-feature-settings: "kern" 1;
		font-feature-settings: "size" 1;
		font-feature-settings: "lnum" 1;
		font-feature-settings: "cpsp" 0;
	}

	span.units, span.sc, em.sc {
		font-feature-settings: "c2sc" 1;
		font-weight: normal;
		font-style:  normal;
	}

	abbr {
//		font-feature-settings: "smcp" 1;
		font-feature-settings: "c2sc" 1;

		/*
		 * I would set onum=0, lnum=1 to align numbers to small caps.
		 * But I can't find a way to get this font to do that, and so
		 * onum=1 looks better than numbers sticking out above small caps.
		 */
	}

	section.archive-year time[pubdate],
	article.entry time[pubdate] {
		font-feature-settings: "lnum" 1;
		font-feature-settings: "tnum" 1;
	}

	ol.pages {
		font-feature-settings: "lnum" 1;
	}

	ol.overlay#cols li:after {
		font-feature-settings: "onum" 0;
	}
}

