
font-face('Sofia Pro Light', 300, normal, '/fonts/SofiaPro-Light',     '#SofiaProLight');
font-face('EB Garamond',     400, normal, '/fonts/EBGaramond-Regular', '#EBGaramond-Regular');
font-face('Ubuntu Mono',     400, normal, '/fonts/UbuntuMono-Regular', '#UbuntuMono-Regular');

body {
	font-family: Sofia Pro Light, Verdana, sans;
	font-weight: 300;

	text-rendering: optimizeLegibility;

	&, td {
		text-align: left;
	}

	th {
		font-weight: normal;
	}
}

tt, code, pre {
	font-family: 'Ubuntu Mono', monospace;
	font-weight: 400;
}

header h1 {
	font-family: EB Garamond, Garamond, Georgia, serif;
	font-weight: 400;
}

body {
	font-feature-settings: "onum" 1;
	font-feature-settings: "kern" 1;
	font-feature-settings: "ss01" 0; /* single story 'a' */
	font-feature-settings: "frac" 1;

	abbr {
		font-feature-settings: "c2sc" 1;

		/*
		 * I would set onum=0, lnum=1 to align numbers to small caps.
		 * But I can't find a way to get this font to do that, and so
		 * onum=1 looks better than numbers sticking out above small caps.
		 */
	}

	article.entry time[pubdate] {
		font-feature-settings: "lnum" 1;
		font-feature-settings: "tnum" 1;
	}

	header h1 {
		font-feature-settings: "titl" 1; /* XXX: only if actually used */
	}
}

