
font-face('Sofia Pro',   300, normal, '/fonts/SofiaPro-Light',     '#SofiaProLight');
font-face('Ubuntu Mono', 400, normal, '/fonts/UbuntuMono-Regular', '#UbuntuMono-Regular');
font-face('Heros',       700, normal, '/fonts/Heros-Bold',         '#TeXGyreHeros-Bold');

body {
	font-family: Sofia Pro, Verdana, sans;
	font-weight: 300;

	text-rendering: optimizeLegibility;

	&, td {
		text-align: left;
	}

	th {
		font-weight: normal;
	}
}

tt, code, pre {
	font-family: 'Ubuntu Mono', monospace;
	font-weight: 400;
}

h1, h2 {
	font-family: Heros, Helvetica, Arial, sans;
	font-weight: 700;

	font-feature-settings: "kern" 1;
	font-feature-settings: "size" 1;
	font-feature-settings: "lnum" 1;
	font-feature-settings: "cpsp" 0;
}

body {
	font-feature-settings: "onum" 1;
	font-feature-settings: "kern" 1;
	font-feature-settings: "ss01" 0; /* single story 'a' */
	font-feature-settings: "frac" 1;

	span.units, span.sc, em.sc {
//		font-feature-settings: "c2sc" 1;
		font-weight: normal;
		font-style:  normal;
	}

	abbr {
//		font-feature-settings: "smcp" 1;

		/*
		 * I would set onum=0, lnum=1 to align numbers to small caps.
		 * But I can't find a way to get this font to do that, and so
		 * onum=1 looks better than numbers sticking out above small caps.
		 */
	}

	article.entry time[pubdate] {
		font-feature-settings: "lnum" 1;
		font-feature-settings: "tnum" 1;
	}

	ol.pages {
		font-feature-settings: "lnum" 1;
	}
}

