/* $Id$ */

$grid-basefont = 18px; // TODO

body {
	margin:  0;
	padding: 0;
	padding-bottom: ($grid-baseline * 3);
}

header, footer, section.page, nav#sidebar, nav.pages {
	grid-container;
	padding-right: $grid-baseline;
}

header {
	margin-bottom: $grid-baseline;

	h1 {
		font-size:   ($grid-basefont * 2);
		padding-top: ceil($grid-baseline * 1.5);
		line-height: ($grid-baseline * 2);
	}

	ul#contents {
		position: relative;
		top: floor(-($grid-baseline * 0.5));
	}
}

footer {
	margin-top:    ($grid-baseline * 2);
	margin-bottom: ($grid-baseline * 2);
	display: none; /* XXX */
}

nav#monthindex,
section.page nav.pages {
	grid-column($grid-ncols);
}

section.page article.entry {
	grid-column($grid-ncols);

	a[name],
	ul.tags {
		margin-left: 0;
		display: block;
		position: relative;
		text-align: left;
	}

	/* respond when 1 colspan has a min-width wide enough for "YYYY-MM-DD" */
	$q = "all and " + grid-respond("min", 100px, 1);
	@media $q {
		grid-column($grid-ncols - 1);
		grid-indent(1);

		a[name],
		ul.tags {
			grid-column(1);
			grid-ident(-1);

			position: absolute;
			left: 0;

			text-align: right;
		}
	}
}

nav#monthindex {
	display: block;
	margin-top:    ($grid-baseline * 1);
	margin-bottom: ($grid-baseline * 1);

	nav#monthindex ol.pages {
		float: left;
	}

	nav#monthindex > a {
		float: right;
	}
}

article.entry {
	ul.tags {
		margin-top: ($grid-baseline * 1);

		li {
			font-size: ($grid-basefont - 1px);
		}
	}
}

nav#sidebar {
	display: none;

	table.calendar {
		table-layout: fixed;

		max-width: (12 * $grid-baseline);
		margin-left: (6 * $grid-baseline);
		width: 50%;

		/* TODO: mixin? */
		border-spacing: 0 ! important;
		border-collapse: collapse ! important;
	}

	ol.years {
		display: none;
		float: left;
		margin-left:   $grid-gutter;
		margin-bottom: $grid-gutter;
	}
}

nav.pages {
	padding-top:    ($grid-baseline * 1);
	padding-bottom: ($grid-baseline * 4);
}

pre {
	overflow-y: auto;
	margin-left: $grid-baseline;
}

