/* $Id$ */

$menu-padding ?= 1.25em;
$page-padding ?= ($baseline * 0.5);

body {
	margin:  0;
	padding: 0;

	clearfix();

	// respond when the page height is over 20 lines
	// only when not using a collapsed (vertical) menu
	$q = "all and (min-height: " + ($baseline * 20) + ")";
	@media $q {
		for $l in 0 .. length($grid.ncols) - 1 {
			$q = grid-breakpoint($grid, $l);
			@media $q {
				if (!gapless($l)) {
					padding-top:    ($baseline * 1.5);
					padding-bottom: ($baseline * 3);
				}
			}
		}
	}
}

nav.pages {
	padding-top:    ($baseline * 1);
	padding-bottom: ($baseline * 4);
}

pre {
	overflow-y: auto;
}

dl dd {
	margin-left: 0;
}

header {
	margin-bottom: $page-padding;

	h1 {
		display: none;
	}

	nav {
		line-height: ($baseline * 2);
    	list-style-type: none;
		text-align: center;

		margin:  0;
		padding: 0;

		li {
			margin:  0;
			padding: 0;

			a {
				display: inline-block;
				height: 100%;
			}
		}
	}

	for $l in 0 .. length($grid.ncols) - 1 {
		$q = grid-breakpoint($grid, $l);
		@media $q {
			if (menustyle($l) == center) {
				li {
					display: inline-block;
				}

				a {
					padding: 0 $menu-padding;
				}
			} else {
				position: relative; // for menu

				nav {
width: 100%;
					position: absolute;
					bottom: 0;
/*
					left:  20%;
					right: auto;
					width: 9em;
					max-width: ($grid.colwidth * 2);
*/
					margin: 0 auto;
				}

				li {
					display: inline-block;
					float: left;

					if (menustyle($l) == collapse) {
						width: 50%;
					} else {
						width: 25%;
					}
				}

				a {
					width: 100%;
				}
			}
		}
	}
}

footer {
	display: none; /* XXX */

	&:before {
		top: $page-padding;
	}

	&:after {
		margin-top: $page-padding;
	}
}

main {
	h1 {
		margin-top:    0;
		margin-bottom: ($baseline * 0.5); // assumes <time> follows

		& + time {
			display: block;
			margin-bottom: ($baseline * 1.0);
		}
	}

	dl.index dd {
		margin-left: 0;
	}

	section.archive-year[data-count = "0"] {
		display: none;
	}

	section.archive-year > ol {
		list-style-type: none;
	}

	section.archive-year {
		& > h1 {
			&:after {
				content: " ";
			}

			a {
				display: none;
			}
		}
	}

	article.entry {
		margin-bottom: $baseline;

		h1 {
			display: none;
		}

		ul.tags {
			display: none;
		}

		time.update,
		& > a,
		ul.tags {
			margin-top: ($baseline * 1);
		}

		ul.tags {
			top: $baseline; // to avoid timestamp
		}
	}

	aside {
		margin-top: ($baseline * 1.0);
		padding-top: ($baseline * 1.0 - 2px);
		border-top: dotted 2px #ccc;
	}

	for $l in 0 .. length($grid.ncols) - 1 {
		$q = grid-breakpoint($grid, $l);
		@media $q {
			grid-column($grid, $l, $grid.ncols[$l] - sidebar($l), sidebar($l));
		}
	}

}

nav#monthindex {
	display: block;
	margin-top:    ($baseline * 1);
	margin-bottom: ($baseline * 1);

	font-size: .9em;

	ol.pages {
		float: left;
	}

	& > a {
		float: right;
	}

	for $l in 0 .. length($grid.ncols) - 1 {
		$q = grid-breakpoint($grid, $l);
		@media $q {

			// TODO: could animate collapsing by transitioning on width to 0
			// when too narrow to fit the attr() months
			if ($grid.ncols[$l] == 1) {
				pages-collapse-group(false);
			}

			// when too narrow to fit all 12 months explicitly
			if ($grid.ncols[$l] >= 2 && $grid.ncols[$l] <= 5) {
				pages-collapse-group(data-fmt);
			}

			if ($grid.ncols[$l] <= 2) {
				& > a,
				ol.pages {
					text-align: center;
				}

				& > a {
					margin-top: 2ex; // XXX: hacky
				}
			}
		}
	}
}

for $l in 0 .. length($grid.ncols) - 1 {
	$q = grid-breakpoint($grid, $l);
	@media $q {
		body {
			grid-container($grid, $l);
		}

		if ($grid.ncols[$l] > 2) {
			br.rbr {
				display: none;
			}
		}

		if ($grid.ncols[$l] == 5) {
			figure {
//				grid-subcontainer($grid, $l, $grid.ncols[$l] - 1, 1);
//				$subgrid = ( 2 ) ( fluid ) ( center ) $colwidth $gutter $fixed-margin $fluid-margin;


				a:hover img {
//					border-color: #000;
				}

				img {
//					width: 100%;

//					border: solid 1px #ccc;
					&:first-child {
//						padding-left:  0 \! important; // hack
					}

					&:last-child {
//						padding-right: 0 \! important; // hack
					}
				}

				&.double img {
//					grid-column($subgrid, 0, 1);
				}

				&.single-narrow img {
//					grid-column($subgrid, 0, 2);
					img {
						width: 80%;
					}
				}

				&.single-wide img {
//					grid-column($subgrid, 0, 2);
				}
			}
		}

		if ($grid.ncols[$l] <= 2) {
			header {
//				grid-column($grid, $l, $grid.ncols[$l]);
			}

			main {
//				grid-column($grid, $l, $grid.ncols[$l]);
			}

			dl.index {
//				grid-subcontainer($grid, $l, $grid.ncols[$l], 0);

				dt a {
//					grid-column($grid, $l, 1);
				}

				dd {
//					grid-column($grid, $l, 1);
				}
			}

			nav#monthindex {
//				grid-subcontainer($grid, $l, $grid.ncols[$l], 0);
//				$subgrid = grid-subgrid($grid, $l, 0);

				ol.pages,
				& > a {
//					grid-column($subgrid, $l, $grid.ncols[$l]);
				}
			}
		}

		if ($grid.ncols[$l] >= 2) {
			nav#monthindex {
				pages-collapse-outer(data-fmt);
			}
		}

		if ($grid.ncols[$l] >= 5) {
			header {
//				grid-column($grid, $l, $grid.ncols[$l] - 1, 1);
			}

			dl.index dt a,
			main > article.entry time.update,
			main > article.entry > a[name],
			main > article.entry > ul.tags {
				grid-subcolumn($grid, $l, 1, -1);
				margin-top: 0;
			}

			main > article.entry time.update,
			main > article.entry > a[name],
			main > article.entry > ul.tags {
				text-align: right;
			}

			dl.index {
//				grid-subcontainer($grid, $l, $grid.ncols[$l] - 1, 0);
//				$subgrid = grid-subgrid($grid, $l, 1);
//				$subcols = $subgrid[0];

				dd {
//					grid-column($subgrid, $l, $subcols[$l] - 1);
				}
			}

			main > article.entry {
//				grid-subcontainer($grid, $l, $grid.ncols[$l], 0);
//				$subgrid = grid-subgrid($grid, $l, 0);

				& > div.body {
//					grid-column($subgrid, $l, $grid.ncols[$l] - 1);
				}
			}

			nav#monthindex {
//				grid-subcontainer($grid, $l, $grid.ncols[$l] - 1, 1);
//				$subgrid = grid-subgrid($grid, $l, 1);

				ol.pages {
//					grid-column($subgrid, $l, $grid.ncols[$l] - 2);
				}

				& > a {
//					grid-column($subgrid, $l, 1);
					text-align: center;
				}
			}
		}

		if ($grid.ncols[$l] >= 5) {
			header {
//				grid-column($grid, $l, 3, 1);
			}
		}
	}
}

