/* $Id$ */

$full-min  = 700px;

/* TODO: define these in em */

@media only screen and (max-width: $full-min * 0.5) {

	nav#sidebar table.calendar {
		margin: 0;
		width: 100%;
		max-width: 100%;
	}

}

@media only screen and (min-width: $full-min) {

	nav#sidebar {
/* XXX:
		display: block;
*/
		position: absolute;
		top: ($grid-baseline * 6);
	}

	nav#sidebar ol.years {
		display: block;
	}

	section.page article.entry, nav#monthindex {
		max-width: ($grid-baseline * 35);
	}

}

