/* $Id$ */

@import "theme.styl";

@import "tags.styl";
@import "colour.styl";

@import "baseline.styl";
@import "blog.styl";
@import "calendar.styl";
@import "grid.styl";
@import "pages.styl";

@import "layout.styl";
@import "screen.styl";

$pages-inact-border     = #ddd;
$pages-inact-background = transparent;
$pages-inact-color      = #bbb;

$pages-hover-border     = darken($pages-hover-background, 10%);
$pages-hover-background = #eee;
$pages-hover-color      = $black;

body {
	font-family: 'Maven Pro', 'sans serif';
	word-spacing: -1px;

	/* optimiseLegibility actually looks worse for Maven Pro. "Pro" indeed... */
	text-rendering: geometricPrecision;

	text-align: justify;

	td {
		text-align: justify;
	}

	th {
		font-weight: normal;
	}
}

tt, code, pre {
	font-family: 'Ubuntu Mono', 'monospace';
}

h1 {
	font-weight: normal;
	text-align: left;
	text-rendering: optimizeLegibility;
}

header ul#contents {
	list-style-type: none;

	li {
		display: inline-block;
		margin-right: 1em;
	}
}

nav#sidebar ol.years {
	list-style-type: none;

	li {
		display: block;
	}
}

article.entry {
	h1 {
		display: none;
	}

	ul.tags {
		display: none;
	}
}

nav#monthindex > a {
	float: right;
}

