/* $Id$ */

@import "theme.styl";

@import "misc.styl";
@import "baseline.styl";
@import "grid.styl";
@import "lists.styl";
@import "blog.styl";
@import "calendar.styl";
@import "pages.styl";
@import "hang.styl";
@import "faq.styl";
@import "tablesort.styl";
@import "tex.styl";
@import "comment.styl";
@import "tags.styl";

@import "layout.styl";
//@import "screen.styl";

@import "colour.styl";
@import "fonts.styl";

$gamma = 20%;
$indent = ($baseline * 2);

ul, ol, dl, p, blockquote { line-height: $baseline; }
h2 { margin-top: $baseline; }

$pages = {
	inact-border:     #ddd
	inact-background: transparent
	inact-color:      #bbb

	hover-border:     #ddd
	hover-background: #eee
	hover-color:      $black
}

nav#sidebar ol.years {
	list-style-type: none;

	li {
		display: block;
	}
}

article.entry {
	h1 {
		display: none;
	}

	ul.tags {
		display: none;
	}
}

nav#monthindex > a {
	float: right;
}

