/* $Id$ */

$www-css = "http://www.elide.org/css";

$grid-baseline = 19px;
$grid-basefont = 14px;

$grid-width   = 100%;
$grid-ncols   = 5;
$grid-margin  = 0;
$grid-padding = 0 ($grid-baseline / 2);
$grid-gutter  = $grid-baseline;
$grid-colour  = pink;

/*
 * The grid this layout is actually set on is two fixed-width columns
 * of 6 * @grid-baseline each, followed by one auto-width column which
 * fills the remaining space. Of course overlay.less can't show that.
 * Tools eternally fall short of what I want them to be.
 */

$full-min = 700px; /* threshold for going "fullscreen" */

$cal-cell = 2em;

