/* $Id$ */

$fontsize = 15px;
$baseline = 20px;

$grid = {
	ncols:    ( 1       2      4      5      6      )
	layouts:  ( fluid   fluid  fluid  fluid  fixed  )
	aligns:   ( center  fluid  center center center )

	colwidth: $baseline * 5.8 // wide enough for YYYY-MM-DD
	gutter:   $baseline / 2

	fixed-margin: 0
	fluid-margin: 0

	colour: #ccc
}

$list ?= {
	padding: 1ex     // default
	gutter:  2em     // default
	bullet:  "\2022" // default
	punct:   ")"
}

$faq ?= {
	padding: $list.padding || 1ex // default
	gutter:  $list.gutter  || 2em // default
	punct:   "."
}

sidebar($l) { return $grid.ncols[$l] >= 5 ? 1 : 0; }
gapless($l) { return true; }

photosquarecols($l) {
	if ($grid.ncols[$l] > 3) {
		return 3;
	}

	return $grid.ncols[$l];
}

photolandscapecols($l) {
	if (photosquarecols($l) > 2) {
		return 2;
	}

	return 1;
}

photoportraitcols($l) {
	return photosquarecols($l);
}

menustyle($l) {
	if ($grid.ncols[$l] == 1) {
		return collapse;
	}

	if ($grid.ncols[$l] == 2) {
		return justify;
	}

	return center;
}

