/* $Id$ */

$www-css = "http://www.elide.org/css";

$grid-colour  = pink;

$baseline = 21px; // XXX: i would prefer to define this next to the font size

$ncols    ?= ( 1       2      4      5     6      );
$layouts  ?= ( fluid   fluid  fluid  fixed fixed  );
$aligns   ?= ( center  center center left  center );

$colwidth ?= $baseline * 5.8; // wide enough for YYYY-MM-DD
$gutter   ?= $baseline / 2;

$fixed-margin ?= $gutter;
$fluid-margin ?= 0;

$grid = $ncols $layouts $aligns $colwidth $gutter $fixed-margin $fluid-margin;


$cal-cell = 2em;

