/* $Id$ */

body {
	font-size:   $grid-basefont;
	line-height: $grid-baseline;
	text-rendering: optimizeLegibility; 
}

footer {
	padding-top:    ($grid-baseline * 1.0);
	padding-bottom: ($grid-baseline * 2.0);
}

header, footer, nav,
h1, hr, ul, ol, p,
table, td, th {
	margin:  0;
	padding: 0;
}

h1 { 
	padding-bottom: floor($grid-baseline * 0.5); 
	padding-top:    ceil( $grid-baseline * 1.0); 
	font-size:      ceil( $grid-baseline * 1.3); 
	line-height:    round($grid-baseline * 1.5);
}

p {
	margin-bottom: ($grid-baseline * 1.0);
}

hr {
	border: none;
	height: 1px;
	margin-bottom: ($grid-baseline - 1px);
}

pre {
	font-size: $grid-basefont - 1px;
	line-height: ceil($grid-baseline * 0.75); /* XXX: hackish */

	overflow-x: auto;
	overflow-y: hidden;

	tab-size(4 * $grid-baseline);
}

