/* $Id$ */

/*
 * This isn't strictly aligning to a grid. In general I think that only works
 * for multiples of the baseline for either structurally simple layouts (i.e.
 * entirely paragraphs and simple headings), or for particularly careful
 * magazine-style page layouts.
 *
 * My intended use here is for general web content, which is neither of those
 * things. And so my approach is to mostly keep to multiples of the baseline
 * where sensible, but not to be too worried about moving "off grid" where it
 * seems appropriate.
 */

$baseline ?= 1em;
$tabsize  ?= 4;

$space ?= {
	para:  0.5 // between paragraphs
	block: 0.5 // between block-level elements
	head:  1.0 // before headers
}

body {
	line-height:    $baseline;
	text-rendering: optimizeLegibility;
}

footer {
	padding-top:    ($baseline * 1.0);
	padding-bottom: ($baseline * 2.0);
}

header, footer, nav,
h1, h2, hr, ul, ol, dl, p,
table, td, th, li {
	margin:  0;
	padding: 0;
}

h1, h2 {
	padding-bottom: floor($baseline * 0.0);
	padding-top:    ceil( $baseline * 0.0);
}

h1 {
	line-height: $baseline * 1.5;
	font-size:   2em;
}

h2 {
	line-height: $baseline * 1.25;
	font-size:   1.5em;
}

p {
	padding-bottom: floor($baseline * 0.0);
	padding-top:    ceil( $baseline * 0.0);
}

li, p, dl {
	margin-top:    ($baseline * 0.0);
	margin-bottom: ($baseline * $space.para);
}

ul, ol, dl {
	margin-top:    ($baseline * $space.block);
	margin-bottom: ($baseline * $space.block);
}

sup, sub {
	line-height: 0;
}

h1, h2 {
	margin-top:    ($baseline * $space.head);
	margin-bottom: ($baseline * $space.block);
}

hr {
	border: none;
	height: 1px;
	margin-bottom: ($baseline - 1px);
}

pre {
	overflow-x: auto;
	overflow-y: hidden;

	tab-size($tabsize);
}

