/* $Id$ */

$baseline ?= 1em;

body {
	line-height:    $baseline;
	text-rendering: optimizeLegibility; 
}

footer {
	padding-top:    ($baseline * 1.0);
	padding-bottom: ($baseline * 2.0);
}

header, footer, nav,
h1, hr, ul, ol, dl, p,
table, td, th {
	margin:  0;
	padding: 0;
}

h1 { 
	padding-bottom: floor($baseline * 0.5); 
	padding-top:    ceil( $baseline * 1.0); 
	font-size:      ceil( $baseline * 1.3); 
	line-height:    round($baseline * 1.5);
}

p {
	margin-bottom: ($baseline * 1.0);
}

hr {
	border: none;
	height: 1px;
	margin-bottom: ($baseline - 1px);
}

pre, code {
	font-size: 0.9em;
	line-height: ceil($baseline * 0.75); /* XXX: hackish */
}

pre {
	overflow-x: auto;
	overflow-y: hidden;

	tab-size(4 * $baseline);
}

