/* $Id$ */

dl.bibliography {
	margin-left: 120px;

	dt {
		width: 60px;
		display: block;
		float: left;
		clear: left;
		margin-left: -60px;
		font-weight: normal;
	}

	dd {
		margin: 0;
		margin-bottom: 18px;
		display: block;
	}
}

