/* $Id$ */

$bibliography ?= {
	padding: 0.5em
	gutter:  5em
}

dl.bibliography {
	padding: 0;

	clearfix();

	dt {
		margin-right: $bibliography.padding;
		min-width:    $bibliography.gutter;
		font-weight: normal;

		float: left;
		clear: left;

		&:before { content: "["; }
		&:after  { content: "]"; }
	}

	dd {
		margin-top:    0;
		margin-right:  0;
		margin-left:   ($bibliography.gutter + $bibliography.padding);
		margin-bottom: ($baseline / 2);

		cite:before { content: "\201C"; }
		cite:after  { content: "\201D"; }
	}
}

