/* $Id$ */

table.calendar {

	tr th.month {
		text-align: center;
	}

	td,
	th {
		text-align: right;
		min-width: $baseline;
	}

	td.today {
		background-color: #eee;
	}

	tr:first-child th {
		text-align: center;

		&:first-child,
		&:last-child {
			text-align: right;
		}
	}

}

