/* $Id$ */

/*
 * A horizontal or an accordion-style collapsable menu.
 *
 * This collapses down all items except for the .current one, leaving
 * that visible. So it's effectively a sort of makeshift combobox.
 *
 * Use with expander.js for @class updates.
 *
 * Intended for use as a drop-down navigation menu for narrow mobile devices,
 * but could perhaps hold other content too.
 */

$menu-border   ?= 2px;
$menu-delta    ?= 2ex;
$menu-overhang ?= ($menu-delta / 2);
$menu-colour   ?= #000;
$menu-height   ?= 1em;
$menu-time     ?= .25s;

menu-layout(type) {
	margin:  0;
	padding: 0;

	border-bottom: solid $menu-border $menu-colour;

	li {
		margin:  0;
		padding: 0;

		if (type == vertical) {
			display: block;
		} else {
			display: inline-block;
		}
	}

	if (type == vertical) {
		li.current a {
			trigram();
		}

		&.expanded li,
		&.collapsed li {
			transition: max-height $menu-time ease-in-out;
			overflow: hidden;
		}

		&.expanded li,
		&.collapsed li.current {
			max-height: $menu-height;
		}

		&.collapsed li {
			max-height: 0;
		}

		border-bottom-width: 0;

		transition: border-bottom-width ($menu-time * 0.75) ease-in-out;

		&.expanded {
			border-bottom-width: $menu-border;
		}
	}
}

