/* $Id$ */

$faq-gutter = ($grid-gutter * 2);

dl.faq      dd:before { content: "A.";  }
dl.faq      dt:before { content: "Q.";  }
dl.faq dt + dt:before { content: "\A0";  }

dl.faq {

	dt {
		clear: left;
		margin-bottom: 0;
	}

	dd {
		margin-top:    ($grid-baseline * 0);
		margin-bottom: ($grid-baseline * 2);
	}

	dt,
	dd {
		position: relative; /* for :before */
		margin-left: $faq-gutter;

		&:before {
			display: block;
			width: $faq-gutter;

			text-align: right;
			position: absolute;
			left: -($faq-gutter);
			width: $faq-gutter;

			padding-right: 1ex;
			box-sizing: border-box;
		}
	}

}

