/* $Id$ */

$faq-gutter ?= 2em;

dl.faq {
	     dd:before { content: "A.";  }
	     dt:before { content: "Q.";  }
	dt + dt:before { content: "\A0"; }

	dt,
	dd {
		hang($faq-gutter, 1ex, exdent);
	}

	dt {
		margin-bottom: 0;
	}

	dd {
		margin-top:    ($baseline * 1);
		margin-bottom: ($baseline * 2);
	}
}

