/* $Id$ */

$faq ?= {
	gutter: $list.gutter || 2em
}

dl.faq {
	     dd:before { content: "A.";  }
	     dt:before { content: "Q.";  }
	dt + dt:before { content: "\A0"; }

	dt,
	dd {
		hang($faq.gutter, 1ex, exdent);
	}
}

