/* $Id$ */

ol.footnotes {
	margin-left: 3em;
	margin-top:  3em;

	li {
		list-style-type: none;
	}

	sup.footnote-number {
		position: absolute;
		width: 2em;
		margin-left: -2.5em;

		a {
			text-decoration: none;
		}
	}
}

