/* $Id$ */

ol.footnotes {
	margin-left: 3em;
	margin-top:  3em;

	li {
		list-style-type: none;
	}

	sup.footnote-number {
		position: absolute;
		width: $list.gutter;
		margin-left: -($list.gutter + $list.padding);
		line-height: inherit;

		a {
			text-decoration: none;
		}
	}
}

