/* $Id$ */

$glossary ?= {
	gutter:  $list.gutter || 2em
	padding: 1em
	border:  dotted 1px #ccc
	overlap: 1ex // a:hover vertical overlap relatve to li size
}

dl.glossary {

	dt {
		display: inline;
		float: left;
		padding-right: $glossary.padding;

		&.alt {
			padding-right: 1ex;

			&.alt:after {
				content: ", ";
			}
		}

		span.note {
		}
	}

	dd {
		margin-top:    0;
		margin-left:   $glossary.gutter;
		margin-bottom: $baseline;
	}

	dt + dd.abbr {
		margin-left: 0;

		&:before {
			content: ": ";
			margin-left: -($glossary.padding); /* to overlap the dt's padding-right */
		}
	}

}

ol.glossary {
	padding: 0;
	margin:  0;
	margin-bottom: ($baseline * 0.5);

	display: block;
	text-align: center;
	list-style-type: none;

	font-size: 0; /* inline whitespace hack */

	li,
	li a {
		margin: $glossary.overlap 0;
		display: inline-block;

		min-width: 2em;
		max-width: 4em;
	}

	li {
		margin-left: -($glossary.border[1]);
		border-left: $glossary.border;
		padding: 0;
		cursor: default;
	}

	li:first-child {
		border-left: none;
	}

	li a {
		margin: -($glossary.overlap) 0;
		padding: ($glossary.overlap) 0;
	}

}

