/* $Id$ */

$glossary-gutter  ?= ($grid-gutter * 4);
$glossary-padding ?= 1em;

dl.glossary {

	dt {
		display: inline;
		float: left;
		padding-right: $glossary-padding;

		&.alt {
			padding-right: 1ex;

			&.alt:after {
				content: ", ";
			}
		}

		span.note {
		}
	}

	dd {
		margin-top:    0;
		margin-left:   $glossary-gutter;
		margin-bottom: $grid-baseline;
	}

	dt + dd.abbr {
		margin-left: 0;

		&:before {
			content: ": ";
			margin-left: -($glossary-padding); /* to overlap the dt's padding-right */
		}
	}

}

