/* $Id$ */

$list ?= {
	gutter: 2em
	bullet: "\2022"
}

if ($list.bullet != default) {
	ul li {
		position: relative;
		list-style-type: none;

		// because "list-style-type: disc" is too large
		&:before {
			content: $list.bullet;
			position: absolute;
			text-align: right;
			display: block;
			padding-right: .75em;
			width: 1em;
			left: -(@width + @padding-right);
		}
	}
}

li {
	margin-left: $list.gutter;
}

dl {
	dt {
		margin: 0;
	}

	dd {
		margin-left:  $list.gutter;
		margin-right: 0;
		margin-top:	   ($baseline * 0.5);
		margin-bottom: ($baseline * 1.0);
	}

	dd:last-child {
		margin-bottom: 0;
	}
}

