/* $Id$ */

$list ?= {
	padding: 1ex
	gutter:  2em
	bullet:  "\2022" // because "list-style-type: disc" is too large
	punct:   "."
}

list-style-type(type) {
	if (type == custom) {
		list-style-type: none;
		&:before {
			content: $list.bullet "\A0"; // TODO: as many spaces as $list.punct is wide
		}

		li {
			hang($list.gutter, $list.padding, exdent);
		}
	} else {
		list-style-type: type;
	}
}

/*
 * we provide our own list counter so that the spacing can be the same
 * as for other hang()s, e.g. FAQ items
 * TODO: handle nested lists
 */
ol {
	counter-reset: ol;

	li {
		list-style-type: custom;

		&:before {
			content: counter(ol) $list.punct;
			counter-increment: ol;
		}
	}
}

dl {
	dt {
		margin: 0;
	}

	dd {
		margin-left:  $list.gutter;
		margin-right: 0;
		margin-top:	   ($baseline * 0.5);
		margin-bottom: ($baseline * 1.0);
	}

	dd:last-child {
		margin-bottom: 0;
	}
}

