/* $Id$ */

$mi-gutter  ?= 1em;
$mi-indent  ?= 2em;
$mi-dtwidth ?= 8ex;

html.manindex {

	h1 {
		margin-top:    3ex;
		margin-bottom: 0;

		& span.product {
			font-weight: 400;

			&:before {
				content: " ";
			}
		}
	}

	h2 {
		margin: 0;
		margin-top:     0.5em;
		margin-bottom: -0.5em;

		font-size:   inherit;
		font-weight: inherit;
	}

	section dl {
		margin-top:    0.5em;
		margin-bottom: 0.5em;
		padding-left: $mi-indent;

		clearfix();

		dt {
			display: block;
			min-width: $mi-dtwidth;

			float: left;
			clear: left;
			text-align: left;
		}

		dd {
			display: inline;
			margin-left: 0;

			float: left;
			text-align: left;

			&:before {
				content: "\2009\2014\2009";
			}
		}
	}

	section[data-manvolnum="3"] dl {
		text-align: left;

		dd {
			display: none;
		}

		dt {
			display: inline;
		}
	}

	section section[data-productname] {
		margin-right: $mi-gutter;
		float: left;

		& + h1 {
			clear: left;
		}
	}
}

