/* $Id$ */

$mi-gutter     = 1em;
$mi-indent     = 2em;
$mi-titlewidth = 13em;

html.manindex section {
	h1 {
		margin-top:    3ex;
		margin-bottom: 0;

		& span.product {
			font-weight: 400;

			&:before {
				content: " ";
			}
		}
	}

	h2 {
		margin: 0;
		margin-top:     0.5em;
		margin-bottom: -0.5em;

		font-size:   inherit;
		font-weight: inherit;
	}

	table {
		margin-top: 1em;
		margin-left: $mi-indent;

		background-color: inherit;
		border:           inherit;
		border-spacing:   0;
		border-collapse:  collapse;

		th, td {
			text-align: left;
			vertical-align: top;
			padding: 0;
			padding-bottom: 0.5ex;
		}

		th {
			width: $mi-titlewidth;

			font-weight: inherit;
			background-color: inherit;
			border: inherit;
			line-height: 100%;
		}

		td {
			padding-left: $mi-gutter;
			margin-left:  $mi-titlewidth;

			margin-top:    0;
			margin-bottom: 0;
			margin-right:  1em;

			background-color: inherit;
			border: inherit;
		}
	}
}

