/* $Id$ */

html.minidocbook {
	div.navigation {
		color: #aaa;

		&.bottom {
			margin-top: 3em;
		}

		& div.pages {
			float: right;
		}
	}

	ol.toc {
		margin-left: 1em;
		list-style-type: none;

		ol {
			margin-left: 2em;
			margin-top: 1em;
			margin-bottom: 1em;
			list-style-type: none;
		}
	}

	table.informal,
	table.informal td {
		border: none;
	}

	figure, table {
		margin: 2em;
	}

	figure img {
		display: block;
	}

	figure figcaption {
		margin-top: 1em;
		display: block;
	}

	blockquote.literallayout {
		white-space: pre-line;
		tab-size($tabsize);
	}

	ol.footnotes {
		list-style-type: none;
		margin-left: 3em;
		margin-top: 3em;
	}

	ol.footnotes sup.footnote-number {
		position: absolute;
		width: 2em;
		margin-left: -2.5em;
	}

	figure.table ol.footnotes {
		margin-top: 2em;
	}

	pre.screen div.lines {
		display: none;
	}

	pre.screen {
		padding: 1ex 1em;
	}


	sup.footnote-number a {
		text-decoration: none;
	}

	section.synopsis {
		clearfix();

		p.cmdsynopsis {
			float: left;
			clear: left;
			margin-bottom: 1ex;
		}

		div.args {
			display: block;
			float: left;

			color: #444;

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	section.options dl {
		dt.narrow {
			float: left;
			clear: left;
		}

		dt {
			font-weight: bold;
		}

		dd {
			margin-bottom: 1em;
		}
	}

	section ul.authorgroup {
		list-style-type: none;
		display: inline;

		margin-left: 0;

		li {
			display: inline;

			margin-left: 0;

			&:after {
				content: "; ";
			}

/* TODO: " and " for penultimate */

			&:last-child:after {
				content: ".";
			}
		}
	}
}

