/* $Id$ */

@import "misc.styl";

$grid-colour ?= pink;

ol.overlay {
	position: fixed;
	pointer-events: none;

	top:      0;
	right:    0;
	bottom:   0;
	left:     0;

	width:    auto;
	height:   auto;

	opacity(30%);
	display:  none;

	list-style-type: none;

	&#cols {
		grid-container();

		margin-top:     0;
		margin-bottom:  0;
		padding-top:    0;
		padding-bottom: 0;

		border-right: dotted 1px;

		li {
			grid-column(1);

			background-color: $grid-colour;

			border-left:  solid ($grid-gutter / 2) $grid-colour - 50%;
			border-right: solid ($grid-gutter / 2) $grid-colour - 50%;

			min-height: 100%;
		}
	}

	&#rows li {
		margin:   0;
		padding:  0;
		width:    auto;
		height:   $grid-baseline;

		border-bottom: solid 1px #bbb;
		margin-bottom: -1px;
	}

}

