/* $Id$ */

@import "misc.styl";

$grid-colour ?= pink;

ol.overlay {
	position: absolute;

	top:      0;
	right:    0;
	bottom:   0;
	left:     0;

	width:    auto;
	height:   auto;

	display:  none;

	list-style-type: none;

	opacity (30%);

	pointer-events: none;

	&#cols {
		grid-container;

		border-right: dotted 1px;
		margin-right: -1px;

		li {
			grid-column;

			min-height: 100%;

			position: relative; /* for :after */

			&:after {
				position: absolute;

				top:      0;
				right:    $grid-gutter;
				bottom:   0;
				left:     0;

				margin:  0;
				padding: 0;

				width:    auto;
				height:   auto;

				content: '\0000A0';
				background-color: $grid-colour;
			}
		}
	}

	&#rows li {
		margin:   0;
		padding:  0;
		width:    auto;
		height:   $grid-baseline;

		border-bottom: solid 1px #bbb;
		margin-bottom: -1px;
	}

}

