/* $Id$ */

$pages ?= {
	inact-border:     #ddd
	inact-background: transparent
	inact-color:      #ddd

	hover-border:     #ddd
	hover-background: #eee
	hover-color:      #000
}

ol.pages {
	display: block;
	color:   $pages.inact-color;

	li {
		display: inline;
		padding: 0;
		margin:  0;
		// TODO: font size at about @grid-fontsize - 1px
		list-style-type: none;
		margin-left: ($baseline * 0.5);

		&:first-child {
			margin-left: 0;
		}
	}

	li > time {
		cursor: default;
	}

	li > time,
	li a {
		border: solid 1px $pages.inact-border;
		text-decoration: none;
		padding: 5px 10px;
		padding: 0.8ex 2ex;
	}

	> li > time,
	> li > a {
		border-radius: 1ex;
	}

	li.current > a,
	li.current > time {
		border-color:     $pages.hover-border - 5%;
		background-color: $pages.hover-background;
	}

	li.current a:hover {
		border-color:     $pages.hover-border     - 5%;
		background-color: $pages.hover-background - 5%;
	}

	li a:hover {
		border-color:     $pages.hover-border;
		background-color: $pages.hover-background;
		color:            $pages.hover-color;
	}

	li.group {

		li {
			margin-left: -1px; /* border overlap */

			&:first-child {
				margin-left: 0;
			}
		}

		li > time,
		li a {
			border-left-style: dotted;
			border-right-style: dotted;
			border-right-color: transparent;
			position: relative; /* for z-index */
			padding-right: 1ex;
			padding-left:  1ex;
		}

		li:first-child > time,
		li:first-child a {
			border-radius: 4px 0 0 4px;
			border-left-style: solid;
		//	padding-left:  1.5ex;
		}

		li:last-child > time,
		li:last-child a {
			border-radius: 0 4px 4px 0;
			border-right-style: solid;
			border-right-color: $pages.inact-border;
		//	padding-right: 1.5ex;
		}

		li.current > a,
		li.current > time,
		a:hover {
			border-style: solid;
			border-right-color: $pages.hover-border;
			z-index: 1;
		}
	}

}

pages-collapse-group($attr = false) {

	ol.pages li.group li {
		display: none;

		&:first-child,
		&:last-child {
			display: inline;
		}

		if ($attr) {
			&:first-child > time:after,
			&:first-child a:after {
				content: "\00a0" attr($attr);
			}

			&:last-child > time:before,
			&:last-child a:before {
				content: attr($attr) "\00a0";
			}
		}
	}

}

pages-collapse-outer($attr = false) {

	ol.pages > li {
		if ($attr) {
			&:first-child > time:after,
			&:first-child a:after {
				content: "\00a0" attr($attr);
			}

			&:last-child > time:before,
			&:last-child a:before {
				content: attr($attr) "\00a0";
			}
		}
	}

}

