/* $Id$ */

$pages-inact-border     = #ddd;
$pages-inact-background = transparent;
$pages-inact-color      = #ddd;

$pages-hover-border     = $pages-hover-background - 10%;
$pages-hover-background = #eee;
$pages-hover-color      = #000;

ol.pages {
	display: block;
	color:   $pages-inact-color;
}

ol.pages li {
	display: inline;
	padding: 0;
	margin:  0;
	font-size: ($grid-basefont - 1px);
	list-style-type: none;
	margin-left: ($grid-baseline * 0.5);
}

ol.pages li:first-child {
	margin-left: 0;
}

ol.pages li > time {
	cursor: default;
}

ol.pages li > time,
ol.pages li a {
	border: solid 1px $pages-inact-border;
	text-decoration: none;
	padding: 5px 10px;
	padding: 0.8ex 2ex;
}

ol.pages > li > time,
ol.pages > li > a {
	border-radius: 1ex;
}

ol.pages li.group li:first-child {
	margin-left: 0;
}

ol.pages li.group li {
	margin-left: -1px; /* border overlap */
}

ol.pages li.group li > time,
ol.pages li.group li a {
	border-left-style: dotted;
	border-right-style: dotted;
	border-right-color: transparent;
	position: relative; /* for z-index */
	padding-right: 1ex;
	padding-left:  1ex;
}

ol.pages li.group li:first-child > time,
ol.pages li.group li:first-child a {
	border-radius: 4px 0 0 4px;
	border-left-style: solid;
//	padding-left:  1.5ex;
}

ol.pages li.group li:last-child > time,
ol.pages li.group li:last-child a {
	border-radius: 0 4px 4px 0;
	border-right-style: solid;
	border-right-color: $pages-inact-border;
//	padding-right: 1.5ex;
}

ol.pages li.current > a,
ol.pages li.current > time {
	border-color:     $pages-hover-border, 5%;
	background-color: $pages-hover-background;
}

ol.pages li.current a:hover {
	border-color:     $pages-hover-border     - 5%;
	background-color: $pages-hover-background - 5%;
}

ol.pages li a:hover {
	border-color:     $pages-hover-border;
	background-color: $pages-hover-background;
	color:            $pages-hover-color;
}

ol.pages li.group li.current > a,
ol.pages li.group li.current > time,
ol.pages li.group a:hover {
	border-style: solid;
	border-right-color: $pages-hover-border;
	z-index: 1;
}

