
pipelist() {
	display: block;

	li {
		list-style-type: none;
	}

	// XXX: hacky: undo default hang()
	li:before {
		display:  inline;
		position: relative;
		left:   0;
		width:  auto;
		border: none;
	}

	* {
		display: inline;

		margin:  0;
		padding: 0 ;

		&:first-child {
			padding-left: 0;
		}

		&:before {
			content: "\A0|\A0";
		}

		&:first-child:before {
			content: none;
		}
	}
}

