
/*
 * Adapted from http://edward.oconnor.cx/2007/08/tex-poshlet
 *
 * <abbr class="tex">T<sub>e</sub>X</abbr>
 * <abbr class="tex">L<sup>a</sup>T<sub>e</sub>X</abbr>
 * <abbr class="tex">ConT<sub>e</sub>Xt</abbr>
 */

/* TODO: LaTeX's <sup>a</sup> is in the wrong place; split that off */
//$tex-adjust ?= 20% 60% 10% 40%; // optical adjustment for smcp, trbl
$tex-adjust ?=  0%  0% 10%  0%;

abbr.tex {
	sub, sup {
		font-feature-settings: "smcp" 1;
	}

	sub {
		font-size: 1em;
		vertical-align: -(0.5ex    - $tex-adjust[2]);
		margin-left:    -(0.1667em - $tex-adjust[3]);
		margin-right:   -(0.125em  - $tex-adjust[1]);
	}

	sup {
		font-size:      0.85em;
		vertical-align: (0.15em + $tex-adjust[0]);
		margin-left:   -(0.36em - $tex-adjust[3]);
		margin-right:  -(0.15em - $tex-adjust[1]);
	}
}

