/* $Id$ */

/*
 * Use as:
 *   <a class="trigram" href="#">Menu</a>
 *
 * Inspired by: http://css-tricks.com/three-line-menu-navicon/
 *
 * Caveat: the mark/space ratio cannot be set arbitarily, because this uses
 * a double border and we cannot control what's drawn inside that.
 * Fortunately a 1:1:1:1:1 ratio is the typically-done thing.
 */

$trigram ?= {
	size: 15px / 5
}

trigram() {
	&:after {
		content: "";
		display: inline-block;

		border-top:     $trigram.size      solid;
		border-bottom: ($trigram.size * 3) double;
		height: $trigram.size;
		width: ($trigram.size * 5);

		/* alignment to baseline */
		margin-top:       ceil($trigram.size / 2);
		margin-bottom: -(floor($trigram.size / 2));

		margin-left: 1em; /* assuming text before */
		float: right;
	}
}

